[2016-09-28 20:57] bkamins opened #2 "Plotting region features"
I recommend to add border around plotting region (now if the tree is large and does not fit the plotting region it gets cut off and user might not understand what has happened)

[2016-09-28 20:58] bkamins opened #3 "Resizing of plotting region"
Is it possible to add possibility manually resize the plotting region (or dynamically resize it to fit browser window size)?

[2016-09-28 20:59] bkamins opened #4 "Add scrollbars to plotting region"
If the tree is larger than the plotting region it is possible to show scrollbars that would allow to move around large trees?

[2016-09-28 21:00] bkamins opened #5 "Behavior of export to svg/png"
Export to png/svg should save the whole tree (not only what is shown on the screen).
This differs when the tree is clipped by plotiing region.

[2016-09-28 21:09] bkamins opened #6 "Wrong pasting of disconnected graphs"
In the current default tree do the following steps:
1. select ONLY two green triangles
2. perform Copy
3. paste them either to one of the red squares
Result: only one of the triangles gets pasted.

The same behavior is if we paste to "canvas". The problem is if we paste any objects (two or more) that are not connected in a tree. It seems that only the object that is topmost vertically in canvas is

[2016-09-28 21:16] bkamins opened #7 "Context menu does not always hide"
Sequence:
1) click right mouse button anywhere (in canvas or on node) to make the context menu showup
2) sometimes (actually most of the time), if you start then moving around the tree, i.e. selecting the nodes and moving them the context menu does not hide but stays visible (but sometimes it hides itself; I have not figured out the exact rule)

[2016-09-28 21:19] bkamins opened #8 "Positioning of child nodes"
1) Now it is possible that the child node is moved "more to the left" than parent node; it should not be allowed (if it is very difficult to fix it we can leave it as is);
2) If child is horizontally close to the parent the arrowhead of the edge hides behind the node; it would be nice if it was rendered correctly.

[2016-10-01 08:04] bkamins opened #9 "Select an appropriate license for the project"
Select an appropriate license for SilverDecisions and add it to the project repository.

[2016-10-04 15:49] bkamins opened #10 "Nodes should not overlap"
Now it is possible that two nodes overlap. It should not be allowed.
In particular this is a problem when you copy a node and paste it. It may cover the old node in 100% so actually it seems that no pasting has hapend.

[2016-10-08 19:11] #9 closed, assigned to pszufe

[2016-10-11 14:41] bkamins opened #11 "Long node labels"
If node label is very long it is often very hard to position is so that it does not overlap with edges coming out of it.
Additionally consider allowing multi-line labels.
Those are both low-priority requirements.

[2016-10-12 21:49] #7 closed, assigned to mwasiluk

[2016-10-12 21:50] #4 closed, assigned to mwasiluk

[2016-10-12 21:51] #2 closed, assigned to mwasiluk

[2016-10-12 21:53] #3 closed, assigned to mwasiluk

[2016-10-13 06:29] bkamins opened #12 "Prepare concept for SilverDecisions documentation and website"
@pszufe - we have to decide where we put documentation and where we host a SilverDecisions website.
I opt for project Wiki for project documentation and repository docs folder in master for GitHub Pages (we will have to setup silverdecisions.pl to target GitHub Pages).

[2016-10-14 13:17] bkamins opened #13 "Arrow heads on best path should have the same color as lines"
Now arrowheads are always black - even on optimal path.
They should have the same color as the line.

[2016-10-14 13:28] bkamins opened #14 "Layout behavior"
Now the tree when **auto layout** is used is redrawn in order of inserting the nodes to the tree.
I would recommend to change it to the order on a pane (and **auto layout** would only put the nodes in proper and nice places). Now **auto layout** may change the ordering of the nodes (e.g. when the user adds a 3rd node between 1st and 2nd as children of a decision node; they will be rearranged after

[2016-10-14 15:59] #14 closed, assigned to mwasiluk

[2016-10-14 16:40] bkamins opened #15 "Testing process"
@pszufe: Need to define and split responsibilities for testing SilverDecisions on different platforms.
# Updated by pszufe 2016-10-14 21:36

Possible suite of tests in my opinion (to be decided what we will actually test)
- Win @mczupr
  - IE (has to be tested, but is not guaranteed to always work properly) - IE might be not compatible with latest browsers
  - Chrome
  - FireFox
  - Edge   - small

[2016-10-14 16:55] bkamins opened #16 "Add "About" button"
The about information should be the following for the moment:

SilverDecisions [version number]
A free and open source decision tree software.

Project team:
[Bogumił Kamiński](http://bogumilkaminski.pl/) (project manager)
[Przemysław Szufel](http://akson.sgh.waw.pl/~pszufe/) (deputy project manager)
Michał Wasiluk (developer)
Marcin Czupryna (tester)
[Michał Jakubczyk](http://www.michaljakubczyk.

[2016-10-14 20:26] bkamins opened #17 "Currency formatting"
1) add space after currency name (now we get e.g. PLN1000 without a space)
2) currently any three-letter code is accepted (this is OK) but add validation that only three-letter codes are accepted (now there is no validation and you can enter e.g. `1232984` there)

[2016-10-14 20:27] bkamins opened #18 "Support for tablets/mobile"
In the future we could consider support for mobile/tablets. I tried using it on a tablet and it would be usable but now it is not possible to do a right-click on a node (text selection is toogled).

[2016-10-14 20:49] #8 closed, assigned to mwasiluk

[2016-10-14 21:10] bkamins opened #19 "Settings menu contents"
- graphical settings should be separated from algorithm settings (we should not mix them in one dialog box but have two separate dialog boxes)
- what ideally should be available in **graphical settings** (if something is very difficult we can omit it):
  - currency and probability decimal point and currency thousand separator (now it is only `.` and `,` should be possible to change to `,` and whit

[2016-10-15 13:28] bkamins opened #20 "Save buttons should allow a choice of filename"
Save diagram, Export to PNG and Export to SVG should allow to give a filename for saved object.

[2016-10-15 13:31] bkamins opened #21 "Loading saved trees"
When a malformed tree file is loaded nothing happens. Should be: a warning.

[2016-10-15 13:34] bkamins opened #22 "JSON file format"
Consider adding some metadata to a JSON file indicating that this is a SilverDecisions file and a version of SilverDecisions that generated it. Related to #21 in particular.

[2016-10-15 13:35] bkamins opened #23 "Allow adding floating text fields"
In the future it would be good if floating text fields could be added to canvas (e.g. tree caption or some comment)

[2016-10-16 09:29] bkamins opened #24 "Proper toolbar on IE"
It seems that changing `#toolbar` property in CSS in `styles/style.scss` from `flex: 0` to `flex: 0 1 auto` makes the toolbar display properly on IE and does not break anything on Chrome.

However, it might have some side effects I am not aware of so I leave for @mwasiluk to decide if we can change it.

[2016-10-19 12:05] bkamins opened #25 "Keyboard interaction with decision trees"
@mwasiluk: Is it simple/possible to add binding to keyboard for actions on the selected node of the decision tree, e.g.:
- `Del`: delete node and its subtree:
- `Ctrl-X/C/V`: cut/copy/paste node and its subtree
- `Ctrl-Alt-D/C/T`: insert decision/chance/terminal child
- ~~`Ctrl-A`: select all subtree from a selected node (if no node is selected select whole tree)~~
- `Ctrl-Z/Y`: undo/redo function

[2016-10-19 12:14] bkamins opened #26 "Allow to edit edge properties from parent node level"
It would be nice if it was possible to edit edge properties from parent node level (like in Silverlight version of SilverDecisions). Edge level editing should stay as is now.
Edges should be sorted in vertical order of their appearance in the tree and it should be possible to traverse node and edge properties editing using `Tab`.

[2016-10-19 13:09] bkamins opened #27 "Add probability of entering terminal node"
Add "probability to enter" terminal node starting from the root of the tree along with the aggregate payout that is already shown (this is a simple change and this information was shown in old SilverDecisions).

[2016-10-19 13:10] bkamins opened #28 "Highlight nodes on optimal path"
Now only edges on an optimal path are highlighted. It would be good if nodes also were somehow highlighted.

[2016-10-19 15:09] bkamins opened #29 "Change default names of saved files"
Decision tree JSON: from `diagram.json` to `decisiontree.json`.

PNG: from `export.png` to `decisiontree.png`

SVG: from `export.svg` to `decisiontree.svg`

[2016-10-20 06:48] #24 closed, assigned to mwasiluk

[2016-10-20 06:50] #13 closed, assigned to mwasiluk

[2016-10-20 06:57] #26 closed, assigned to mwasiluk, michaljakubczyk

[2016-10-20 14:06] #27 closed, assigned to mwasiluk, michaljakubczyk

[2016-10-20 15:09] #15 closed, assigned to pszufe, michaljakubczyk, mczupr

[2016-10-21 20:07] bkamins opened #30 "Default layout mode and layout settings saving"
@mwasiluk
- Make `tree` layout a default layout.
- Tree layout mode should be saved in tree metadata
- Tree layout parameters (margins etc.) should be saved in tree metadata

@pszufe
- this should be documented
- in particular, make a recommendation in the documentation that `tree` layout is recommended when developing the tree and `manual` layout is preferred is final corrections are made

[2016-10-24 17:05] #22 closed, assigned to mwasiluk

[2016-10-24 17:09] #21 closed, assigned to mwasiluk

[2016-10-24 17:14] #16 closed, assigned to mwasiluk

[2016-10-25 15:15] #29 closed, assigned to mwasiluk, michaljakubczyk

[2016-10-26 14:15] bkamins opened #31 "Strange layout in tree mode"
The following layout is strange (too much vertical whitespace between two chance nodes)
<img width="456" alt="example" src="https://cloud.githubusercontent.com/assets/6187170/19729422/36d07536-9b97-11e6-855b-05d8baf5f2d2.png">

[2016-10-26 21:30] #31 closed, assigned to mwasiluk

[2016-11-07 20:00] bkamins opened #32 "Font settings"
I would recommend to change default font setting to `sans-serif`.

[2016-11-07 20:04] bkamins opened #33 "Diagram title and description"
@mwasiluk what does Details/Description do? It does not show up on the diagram.

Additionally I would recommend to add possibility to change title font style (i.e. bold/italic) in settings.

[2016-11-08 14:39] #32 closed, assigned to mwasiluk

[2016-11-08 15:16] bkamins opened #34 "Export to PDF"
@mwasiluk would adding export to PDF be a problem (we can live with export to SVG if it would be fixed for IE/Edge if it is too complex to implement)?

[2016-11-08 15:45] bkamins opened #35 "Developer documentation maintenance"
@mwasiluk After public-ready release of SilverDecisions please update (or give instructions to @pszufe and @annawier how to update) from developer's perspective:

* readme https://github.com/bkamins/SilverDecisions/blob/master/README.md
* release plan https://github.com/bkamins/SilverDecisions/wiki/Release-plan (it might be completely rewritten - we want to keep here a **high level** view what fun

[2016-11-08 21:20] #5 closed, assigned to mwasiluk, michaljakubczyk

[2016-11-08 22:35] #12 closed, assigned to pszufe

[2016-11-09 21:50] #33 closed, assigned to mwasiluk

[2016-11-15 17:15] #28 closed, assigned to mwasiluk, michaljakubczyk

[2016-11-16 14:05] bkamins opened #36 "Documentation of wrong input handling"
@pszufe @annawier
SilverDecisions has the following error control:
1) dangling Chance/Decision node, signified with `!!`
2) probabilities do not add up to 1 in chance node, signified with `!!`
3) wrong format of number in input field (in particular empty field left); **no error shown** globally, red underline when editing; after exiting the node old value (before the error) is retained; THIS IS NO

[2016-11-16 14:11] bkamins opened #37 "Add more algorithms for selection of best subtree"
Apart from expected value maximization we want at least the following decision making rules in the engine:
1. Maxi-min (in chance node we always take the value of the worst option: pessimistic approach)
2. Maxi-max (in chance node we always take the value of the best option: optimistic approach)

We do not need it before go-public but it is an important future requirement.

[2016-11-16 14:15] bkamins opened #38 "Tree parameters metadata"
This is a major but not urgent requirement (we should do it only after everything else is finished).

It should be possible to have tree parameters metadata dialog where we define variables and set their values, eg. "p=0.5".

Then it should be possible to use the variables from tree parameters metadata to calculate probabilities and payoffs in the tree (eg. to have formulas like probability "p" in

[2016-11-16 14:22] #10 closed, assigned to mwasiluk

[2016-11-17 10:05] bkamins opened #39 "Decision/chance node injection"
When we have an edge from node A to node B.
If we right click on this edge then we have two options "Inject Decision Node" and "Inject Chance Node".

If one of the options is chosen then a Decision/Chance node is added after the edge that was clicked but before node B. So that we have now a structure A-(new node)-B, and the properties of old A-B edge are now the same as properties of A-(new node)

[2016-11-17 10:12] bkamins opened #40 "Improve About dialog"
@mwasiluk This is something that we want before go-live.

Before the line `Documentation of SilverDecisions is available here` in About dialog add the following text.

[code]

Word `Help` in boldface and some vertical space before this line.
(if I have mixed up the shortcuts or forgotten something please correct)

[2016-11-17 10:18] bkamins opened #41 "Automatic generation of input to docs folder"
@mwasiluk This is a change want before go-live. This is needed for GitHub Pages to work automatically.

In `docs` folder I want to have `SilverDecisions.html` automatically generated that is the same as current `demo/index.html`.
Also in this folder all additional css or js files should be generated with reasonable names. `SilverDecisions.html` should reference to them.

The code generating the fi

[2016-11-17 11:18] #41 closed, assigned to mwasiluk, pszufe

[2016-11-17 11:52] bkamins commented on #40
OK. Add the text you find suitable and push the commit :).

[2016-11-17 12:07] bkamins commented on #35
@mwasiluk After some thought i have removed release plan as it is not needed now (we have Issues, release notes after release and Developer's guide and this is enough). Just one more thing: in Developer's guide I would like to have a specification of JSON save file format.

[2016-11-17 14:57] bkamins commented on #40
OK

[2016-11-17 14:57] #40 closed

[2016-11-17 15:12] bkamins opened #42 "Tree flipping algorithm"
In the future it would be nice to have tree-flipping functionality implemented.

[Here](https://www.overleaf.com/read/yjghksqjfsms) we maintain with @michaljakubczyk the specification of the desired functionality.

[2016-11-17 17:59] bkamins commented on #35
@mwasiluk also it would be nice to update 0.2 release notes.

[2016-11-18 14:13] bkamins opened #43 "Compatibility with IE/EDGE"
<img width="959" alt="weird" src="https://cloud.githubusercontent.com/assets/6187170/20432916/b8931c60-ada1-11e6-9903-664556d9b09d.png">
This is minor (and I know we do not guarantee to support it, but maybe it is something simple).

In IE if you copy a subtree and then paste it the autolayout is not triggered.
However, after manual changing of the layout mode the result is OK.

Additionally when

[2016-11-19 11:18] bkamins opened #44 "Selecting edge"
It is a bit hard to edit a single edge by left-clicking on it (you have to be very precise with your mouse). Can we add a bit more vertical room around the edge that will cause left-mouse-click to select it? Of course it should not be too wide, but now it is too narrow 😃.

[2016-11-19 12:18] bkamins opened #45 "Wrong loading/saving of decision trees"
@mwasiluk Check out the "Investment in stock decision model" tree in [Gallery](https://github.com/bkamins/SilverDecisions/wiki/Gallery).

When you load the saved file the _description_ of the tree is not loaded although it is present in the JSON file (only title is loaded). Also _Layout_ options (layout, slant etc.) are not saved (or not loaded). Also please check if we save and load all settings

[2016-11-19 12:41] mwasiluk commented on #45
I can't reproduce this issue, the json file seems to load properly. I've tested it in Chrome, FF and Edge.
Maybe try refreshing app with Ctrl + F5 in chrome (it will clear the browser cache)

[2016-11-19 12:56] bkamins commented on #45
@mwasiluk reopening the browser made the tree load properly. Please let me know what general text we should add to documentation, e.g. sth like:

[code]

[2016-11-19 20:35] bkamins commented on #25
Documented.

[2016-11-19 20:35] #25 closed

[2016-11-19 22:18] pszufe commented on #45
Maybe we could set the .htacess file with such content to force the browser to completely reload every time the site is visited?

     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"

[2016-11-19 22:32] mwasiluk commented on #45
We could also append version number to the filenames in the docs, eg: silver-decisions-0.2.1.min.js

[2016-11-19 22:34] pszufe commented on #45
Yes - but HTML can still reference the wrong version...

[2016-11-19 22:41] mwasiluk commented on #45
It would require updating the filenames of the included files in html after every new release, but it could be done automatically with gulp.

[2016-11-19 23:54] bkamins commented on #45
OK. @pszufe @mwasiluk Do whatever you find suitable. It should solve some class of problems (but probably not the one I was writing originally about as it was not due to caching old version of SilverDecisions)

[2016-11-20 07:17] bkamins opened #46 "Write SPOD integration documentation"
@pszufe @mwasiluk Please add information about how SilverDecisions is integrated into SPOD on this [Wiki page](https://github.com/bkamins/SilverDecisions/wiki/SilverDecisions-in-SPOD).

[2016-11-20 07:20] bkamins opened #47 "Add ROUTE-TO-PA usecases to gallery"
@pszufe @mczupr please send to @bkamins the JSON files with decision trees that are example use cases in ROUTE-TO-PA approved by pilots.

@bkamins add the use cases to gallery.

[2016-11-20 11:31] bkamins opened #48 "Long Details/Description editing problem"
If Details/Description is very long so that it effectively fills the whole vertical span of the screen it it troublesome to edit it.

Have a look at this example tree https://raw.githubusercontent.com/wiki/bkamins/SilverDecisions/examples/decisiontree%402016.11.20_12.25.44.json, in which the description is long.

It would be nice to fix it.

[2016-11-20 11:41] bkamins opened #49 "Saving after loading of malformed JSON"
I have received JSON save file from older version of SilverDecisions. On load it generated error, but the tree appeared. I have modified the tree and saved it. The newly saved tree was still malformed (raised error on load). We could add checks for such situations.

[2016-11-20 11:53] bkamins opened #50 "Edge selected in left pane after file is loaded"
I have encountered the case in which after loading of a save file a node appeared in the left panel (as if it was selected) although it was not highlighted as selected in application canvas.

[2016-11-20 14:39] bkamins commented on #49
And in general from now on we should ensure that SilverDecisions is able to read files saved using its past versions. It should be easy because we save version info in JSON now.

If developer has to manually update version-info like in 8ec4108ed8cb8aa9 it should be put in developer's guide.

Additionally I would recommend that if we make breaking changes in save file format the major version numbe

[2016-11-20 14:42] bkamins commented on #49
Also related to 8ec4108 is that if we change SilverDecisions version number and js and css file names are changed then developer has to update SilverDecisions.html manually. This should also be put in release instructions in developers guide.

[2016-11-20 14:47] mwasiluk commented on #49
@bkamins SilverDecisions.html is updated automatically with gulp docs-gen task

[2016-11-20 15:20] bkamins commented on #49
OK. I leave it open till we have fallbacks implemented.

[2016-11-20 21:30] pszufe opened #51 "Wrong license in the "about" screen - should be LGPL"
Michal, we need to update the licnse to LGPL. Otherwise we would have license crash with SPOD.

[2016-11-20 21:33] pszufe commented on #51
Ania, now the manual got quite long. I believe just in the beginning we should very short "quick start" section (3 sentences) where user can find out that they should click with right mouse button to start drawing the tree and right click on parent node to add child nodes. I.e. if someidy wants just to try the software what they should click first...

[2016-11-20 21:35] pszufe opened #52 "Quick start manual section"
Ania, now the manual got quite long. I believe just in the beginning we should very short "quick start" section (3 sentences) where user can find out that they should click with right mouse button to start drawing the tree and right click on parent node to add child nodes. I.e. if someidy wants just to try the software what they should click first...

[2016-11-20 22:18] bkamins commented on #52
This is why I have created https://github.com/bkamins/SilverDecisions/wiki/Documentation#how-to-start-using-silverdecisions secion for.

[2016-11-20 22:38] pszufe commented on #52
and that is where Ania will put this 3-sentence description :-)

[2016-11-21 15:07] bkamins commented on #51
OK

[2016-11-21 15:07] #51 closed

[2016-11-21 15:17] bkamins commented on #44
OK

[2016-11-21 15:17] #44 closed

[2016-11-21 15:18] bkamins commented on #50
OK

[2016-11-21 15:18] #50 closed

[2016-11-21 15:25] bkamins commented on #43
@mwasiluk All else already mentioned works except saving PNG under IE - please check it.

Additionally under IE dialogs (Settings and About) do not get a scrolling bar (simply text overflows from the dialog box below the box and becomes illegible). This should be fixed

[2016-11-21 15:29] bkamins commented on #52
OK

[2016-11-21 15:29] #52 closed

[2016-11-21 15:29] bkamins commented on #47
OK. We have enough. But feel free to submit more.

[2016-11-21 15:29] #47 closed

[2016-11-21 15:32] bkamins commented on #11
I think we have enough documentation of this feature

[2016-11-21 15:32] #11 closed

[2016-11-21 15:35] bkamins commented on #18
@mwasiluk Just an idea (so that I remember it when we come back to it): maybe we can have SilverDecisions reader for mobile/tablets that would open trees but not allow to edit it.

[2016-11-21 16:00] mwasiluk commented on #18
We have already readOnly mode implemented (for SPOD datalets).

I'll describe available app initial configuration in the wiki, maybe on the separate page named 'Installation'?

[2016-11-21 16:01] pszufe opened #53 "Add an URL handler to silverdecisions to open JSON while starting the application"
It should be possible to load SilverDecisions with a pre-opened JSON file. The file address should be given in the URL. This will enable to greatly increase functionality of tools such as our gallery.
Moreover it will make it easier for citizens and public administration to share their trees with others.

Sample URL could look like this:
http://www.silverdecisions.pl/SilverDecisions.html?LOAD_SD_T

[2016-11-21 16:35] bkamins commented on #18
For me having only "Developer's guide" and "SilverDecisions in SPOD" wiki pages is enough (and this functionality probably fits Developer's guide section + some mention in page about SPOD integration).
This is not urgent.

[2016-11-21 16:39] bkamins commented on #53
@mwasiluk  maybe then we should also add a parameter if the tree should be editable or read only (see #18). However, I have never seen SilverDecisions in read-only mode, so maybe this is not a good idea.

[2016-11-21 16:42] bkamins commented on #53
And then dynamically http://www.silverdecisions.pl/SilverDecisions.html could check if it is opened on tablet/mobile and start read-only mode (this would solve #18). In such case some non-intrusive information on the page informing if:
1) is application is in edit or read-only mode;
2) mobile/tablet was detected
would be nice.

@pszufe Is all this enchancement or rather future enchancement in your

[2016-11-21 17:08] pszufe commented on #53
I have marked is enhancement. We want to do it right away because of (a) model gallery and more important (b) SPOD integration.
Regarding "read only mode" and "tablet detection" - depends how much time it will take... I suppose tablet support could turn out to be huge and sophisticated software project due to browser incompatibilities (especially incompatibility on the library level...)

[2016-11-21 17:16] mwasiluk commented on #53
I have added url handlers in docs/silverdecisions.js

[2016-11-21 19:55] bkamins commented on #53
I am OK with this and we can leave tablet/mobile to #18. @pszufe if current functionality is what you wanted we can close this issue

[2016-11-23 21:46] bkamins commented on #37
@mwasiluk I like the way 77f837f70976a61 was implemented.

@michaljakubczyk Please checkout dev branch (if you do not know how to do it give me a call) and tell me if it is also a good way to show maxi-min and maxi-max solutions. In general the key functionality that should be discussed is:
* green path is the path only on selected route from chance node (as compared to EV maximization, where all

[2016-11-24 10:01] pszufe commented on #34
Michal - maybe postscript would be an easier  option than pdf instead of SVG?

[2016-11-24 12:33] bkamins commented on #34
@pszufe please decribe the problems you have with SVG so that they can be reproduced.

To sum up - we need some way of having reliable a vector graphics output from SilverDecisions. It can be SVG, PDF or PS. Now we have SVG but it does not integrate well with some external tools (@pszufe will describe which and why).

[2016-11-24 12:54] pszufe commented on #34
It should be possible to handle *.SVG files with graphic software.
Seems that the State of art is Incspace (can be used as GUI or command line)
inkscape -z -D --file sampleTree.svg --export-pdf sampleTree.pdf --export-latex
Unfortunatelly the result is very poor (image is black&white and some lines are missing).

Another reasonable option (Bogumil - read this and confirm that it would be enough) -

[2016-11-24 12:58] bkamins commented on #34
@pszufe if you want raster then why PNG is not enough for you? At least on my laptop it has a decent resolution.

[2016-11-24 13:04] pszufe commented on #34
@bkamins why you want vector?

[2016-11-24 13:22] bkamins commented on #34
@pszufe because we already have a good raster export to PNG, and the only thing we are missing is good vector export - sometimes it is the only way to go (eg. printing tree on a very large poster). If you do not need vector graphics PNG export is good enough for you in my opinion.

[2016-11-24 13:39] pszufe commented on #34
@mwasiluk we have had a phone discussion with @bkamins and the conclusion is following.
1. SilverDecisions users want to have possibility to print decision trees (e.g. on a large poster)
2. Most suited is vector graphics/PDF but there is  a problem it probably will be hard to repair (unless we come across a god PDF/vector library for JavaScript canvas)
3. A "good enough" solution that seems to sat

[2016-11-28 13:45] bkamins commented on #23
@mwasiluk nice. Two issues:

1. clicking "new diagram" does not erase text field
2. opening a saved diagram if in old diagram there were text fields does not remove them and does not introduce text fields from the saved diagram

@mwasiluk In general some proper cleanup/initialization of diagrams with text fields should be implemented.

Non-standard behavior of text fields (@annawier I accept them

[2016-11-28 17:42] bkamins commented on #23
Now it is OK. Documentation left.

[2016-11-30 12:35] annawier commented on #36
all of them documented in settings' field

[2016-11-30 12:57] annawier commented on #30
documented:
- `tree` as a default layout (it's mentioned in a few sections e.g. layout settings or toolbar actions)
- `tree` recommended when developing the tree and `manual` when it's almost finished (documented in "tips &trics")
-  'layout options saved in tree metadata' documented in a few sections

[2016-11-30 14:05] #36 closed

[2016-11-30 14:06] #30 closed

[2016-11-30 14:22] annawier commented on #20
documented in 'Important note about saving files' for chrome, ff and edge

[2016-11-30 14:26] #20 closed

[2016-11-30 15:30] annawier opened #54 "Number format locale in left panel not working"
@mwasiluk for probabilities and payoffs in left panel a dot "." seems to be the only one acceptable decimal mark, regardless number format locale settings (even if a comma is displayed on a diagram). Could you please check it?

[2016-11-30 15:37] annawier commented on #6
In Chrome ctrl+c & ctrl+v is not working properly.
1. Select any node and ctrl+c
2. Right-click on the canvas
3. Press ctrl+v - nothing happens,

To copy the nodes/subtrees to the canvas I need to left-click and choose "paste" option from the context menu.
I think that ctrl+v works only for copying some nodes directly to the tree graph.

[2016-11-30 15:41] bkamins commented on #54
@annawier this is acceptable. I would rather simply document it that input is always expecting dot as decimal separator.

@mwasiluk if you want you can change it - please let us know what you think (but I do not want to have additional complexities in gui where they are not crucial).

[2016-11-30 15:45] bkamins commented on #6
@annawier this is an acceptable behavior. My understanding is that Ctrl-v should work only when a node is selected. I accept that Ctrl-v does not work when no node is selected (it could work but pasting a new subtree is a rare operation so it is not crucial). This should be documented though.

@mwasiluk what do you think.

[2016-11-30 15:46] bkamins commented on #54
@annawier observe that the whole GUI of SilverDecisions is in English so this is consistent (and currently we do not plan to habe localized versions of SilverDecisions).

[2016-11-30 16:02] annawier commented on #6
ok, i've documented it in "Selecting, copying and pasting the nodes"

[2016-11-30 16:15] annawier commented on #54
ok, for now i've just documented that 'left panel' accepts only a dot as a decimal mark

[2016-11-30 16:23] annawier commented on #19
- default colors for positive/negative payoffs
- settings for different colors of selected objects
- default values for font, number format locale and currency
all above is already in documentation

only recommended settings for chosen standard locales left, but it's a different issue

[2016-11-30 22:50] #54 closed

[2016-11-30 22:51] #6 closed

[2016-11-30 22:57] #19 closed

[2016-11-30 22:58] bkamins commented on #53
@pszufe I am closing this as the functionality is OK for me.

[2016-11-30 22:58] #53 closed

[2016-11-30 23:03] bkamins opened #55 "Improper behavior of selection"
@mwasiluk Minor issue, but please review the node selection logic because maybe some more important problems might surface.

1. create decision node
2. create terminal node as its child
3. select decision node start editing its label in left panel
4. while editing the label press `Ctrl-A`

Effect:
1) whole text in left pane is selected (OK)
2) terminal node in canvas starts to be selected while de

[2016-11-30 23:05] bkamins commented on #45
@mwasiluk closing as I understand we have it implemented.

[2016-11-30 23:05] #45 closed

[2016-11-30 23:07] bkamins commented on #37
@michaljakubczyk any comments?

[2016-12-01 16:54] bkamins commented on #55
Fixed.

@mwasiluk you have commited it to master to dev has to be updated also.

[2016-12-01 16:54] #55 closed

[2016-12-01 16:56] bkamins opened #56 "Add support for different languages"
In the future it would be nice to have SilverDecisions GUI in other languages with possibility to dynamically (or via URL parameter) change the locale.

[2016-12-01 22:46] bkamins commented on #43
502f14c works ok.
We are left with PNG save on IE.

[2016-12-02 09:23] bkamins opened #57 "Documentation of SilverDecisions url parameters"
@pszufe please add to documentation a proper section on url parameters of SilverDecisions (currently we have a decision tree file location; in future we might have more)

[2016-12-02 10:50] mwasiluk commented on #57
There is also readonly parameter, eg:
http://www.silverdecisions.pl/SilverDecisions.html?LOAD_SD_TREE_JSON=https://raw.githubusercontent.com/wiki/bkamins/SilverDecisions/examples/decisiontree@2016.11.20_12.25.44.json&readonly=true

[2016-12-02 17:15] bkamins commented on #48
nice

[2016-12-02 17:15] #48 closed

[2016-12-03 09:00] bkamins opened #58 "Ctrl-C/Ctrl-V when editing text fields in left pane"
@mwasiluk now Ctrl-C/Ctrl-V when editing text fields in left pane copies/pastes a subtree relative to the edited node. An intuitive behavior would be to copy text that is highlighted/paste text from clipboard. However, this might break Ctrl-C/Ctrl-V functionality of copying/pasting subtrees (I do not know the details of handling the focus in SilverDecisions).

The best option would be that Ctrl-C/

[2016-12-04 13:27] mwasiluk commented on #43
Making PNG work on IE would require additional library (eg [canvg](https://github.com/canvg/canvg)), as described [here](http://willkoehler.net/2014/11/07/client-side-solution-for-downloading-highcharts-charts-as-images.html#not-quite-so-fast).

I've tested canvg, but PNG is not rendered correctly.

[2016-12-04 14:56] bkamins commented on #43
can we then show a popup "Export to PNG not supported in Internet Explorer." when PNG button is pressed in IE?

@annawier after tips&tricks section of documentation please add new "Known issues" section where we will document known problems with list of known limitations of SilverDecisions. This PNG incompatibility is first of them :).

[2016-12-04 15:08] mwasiluk commented on #58
All keyboard shortcuts have already been ignored when focus was on an input field.
Some of the input text fields were changed to textarea recently and I've forgotten to include them in a  key event source filtering.

[2016-12-04 15:12] bkamins commented on #58
so I understand that you will fix it to work as I have described?

[2016-12-04 15:17] mwasiluk commented on #58
After #016db2d all our custom keyboard shortcuts work only when focus is outside of input or textarea element.

[2016-12-04 15:21] bkamins commented on #58
Works OK - I have missed the commit.

[2016-12-04 15:23] bkamins commented on #58
Closing - as current behavior is obvious now and does not need documentation.

[2016-12-04 15:23] #58 closed

[2016-12-04 15:27] mwasiluk commented on #43
Maybe a popup "Export to PNG is not supported in your browser." would be better ?
It would be shown whenever an exception occurs during an export.

[2016-12-04 15:47] bkamins commented on #43
Great. Maybe use such catch-all phrase for other places with major functionality where exception can occur?

[2016-12-05 09:37] bkamins opened #59 "Change functionality of doubleclick"
Please vote if you accept if we changed reaction of the tree to double-click from:

```select subtree```

to

```open context menu```

(then right click and double click in canvas would have exactly the same effect)

[2016-12-05 09:54] bkamins commented on #18
Depends on #59.
We either close it or change overall SilverDecisions behavior.
Only Chrome is planned to be supported on Android.

@michaljakubczyk what should be supported on iPhone?

[2016-12-05 10:25] bkamins commented on #37
Functionality accepted

[2016-12-05 10:26] bkamins commented on #37
@annawier please document the functionality

[2016-12-05 10:30] bkamins commented on #59
We have settled for the following functionality:

double click: open context menu (exactly the same as right click in canvas)

we have select subtree in context menu so this should be enough (no need of ctrl-doubleclick for this as the functionality is not needed very often).

What has to be updated:
1) @mwasiluk application code
2) @mwasiluk description in "about" dialog
3) @annawier documentatio

[2016-12-05 15:05] bkamins commented on #49
OK - I understand that the amount of checks is reasonable :).

[2016-12-05 15:05] #49 closed

[2016-12-05 15:07] bkamins commented on #43
OK. For now we are done with incompatibilities. Now it just needs to be documented.

[2016-12-05 15:10] bkamins commented on #18
@annawier when we document tablet/mobile functionality please test on which apps it works correctly (it seems that Chrome is 100% ok except right-mouse click which we will change in relase 0.4).

[2016-12-05 22:47] bkamins commented on #59
@mwasiluk functionality is OK on desktop. You have not updated "about" dialog section with help.
Functionality on tablet/mobile is not ok, but I treat this issue as resolved (keep it open for documentation) and will keep open #18 to fix tablet issue.

[2016-12-05 22:53] bkamins commented on #18
Currently: on tablet double click is long press and double tapping zooms; single tapping selects - and this works correctly.

@mwasiluk After e7c61f0:
1) when canvas is empty long press correctly opens context menu and allows adding of a new node or text field
2) when there is anything in canvas long press selects it (as if you have pressed Ctrl-A to select all content in canvas). Can this be fixe

[2016-12-05 23:11] bkamins commented on #59
To sum up: here we are left with update of "About"

[2016-12-06 12:32] mwasiluk commented on #39
I've also added keyboard interaction with the selected edge:
* Ctrl-Alt-D/C - inject decision/chance node

[2016-12-06 12:40] annawier commented on #43
incompatibility documentend in 'known issues' section

[2016-12-06 12:44] bkamins commented on #39
@annawier when you document it please make sure to write that **edge** has to be selected in order to perform injection.

@mwasiluk a minor drawing bug: after node is injected the color arrowhead of selected edge is not correct (in default colors: it is not blue but black/green depending on if the edge is on optimal path).

[2016-12-06 12:47] #43 closed

[2016-12-06 13:46] annawier commented on #37
done in Toolbar actions

[2016-12-06 14:02] #37 closed

[2016-12-06 14:35] bkamins commented on #39
fixed

[2016-12-06 15:58] bkamins commented on #59
thx. we are left with the wiki documentation.

[2016-12-06 16:00] bkamins opened #60 "Project team update"
@mwasiluk Please add @annawier to project team in about dialog:

Anna Wiertlewska (documentalist)

[2016-12-06 19:42] #23 closed

[2016-12-06 19:46] bkamins commented on #60
ok

[2016-12-06 19:46] #60 closed

[2016-12-07 15:17] bkamins commented on #42
When the tree is flipped we accept that we have to normalize probabilities to sum to 1.
This means that "double flip" is not guaranteed to revert us to original probabilities (which again, in particular, means that in some corner cases optimal path might change - but this should be very rare).

In general after a flip probabilities should be normalized to sum to 1. After a thought - WE DO NOT DO R

[2016-12-07 15:28] annawier commented on #17
documented, but it's recommended to double check this section :)

[2016-12-07 16:29] bkamins commented on #17
@pszufe please correct this part of documentation.
In general e.g.:
1) `uk` locale does not work and is documented as working
2) `en` locale is default and is not documented at all
3) I would recommend to put into the table three columns: country/locale code/currency as recommended combinations

and in general please read the whole text regarding locale and currency (it is spread into 3 places in

[2016-12-07 19:30] bkamins opened #61 "Custom keybindings on OS X"
@mwasiluk Is it possible and simple to detect if SilverDecisions runs on OS X.
On OS X we should have the following remapings:

Ctrl-C/V/X => Cmd-C/V/X

This is not crucial to have (but if it is simple it would be nice to have) - that's why this is a question (we can simply highlight in documentation that Ctrl should be also used on OS X, but users report that it is not intuitive there)

[2016-12-07 19:37] bkamins opened #62 "Tab behavior"
@mwasiluk Is it possible to have the following behavior:

using <kbd>Tab</kbd> if focus is in left pane in Edge or Node properties loops only the fields in left pane in this section (i.e. if we are in last field in Node properties and press <kbd>Tab</kbd> it moves focus to the first field).

It is not crucial but nice to have - if it is very messy we can live without it.

[2016-12-07 20:50] bkamins opened #63 "Ideas for future functionalities"
This is a catch-all issue for ideas beyond currently planned releases (mainly for @mwasiluk so that it is clear what might be added as it may affect current design decisions). It is accepted that they are speculative and might be discarded after a discussion. I will update this initial post as we progress with concrete solutions. Discussion is welcome.

- add integration with Shiny (so that tree p

[2016-12-08 01:06] pszufe commented on #17
done.

[2016-12-08 01:38] pszufe commented on #57
done

[2016-12-08 07:57] bkamins commented on #57
Small fix needed in read only. I will correct it.

[2016-12-08 07:57] #57 closed

[2016-12-08 07:58] #17 closed, assigned to pszufe, annawier

[2016-12-08 20:27] bkamins commented on #42
If you flip this tree:
<img width="418" alt="start" src="https://cloud.githubusercontent.com/assets/6187170/21026331/6aaac23c-bd8c-11e6-9f1c-8aae987c3094.png">

1) after "Flip tree" action context menu stays and nothing happens
2) the tree is flipped in the background, and repaints if you click e.g. decision node
3) however, the repainted tree is rendered incorrectly (the child chance nodes are pa

[2016-12-08 22:11] bkamins commented on #42
I will update documentation to reflect equal distribution of probabilities in corner case.

[2016-12-08 22:15] bkamins commented on #42
@michaljakubczyk please check the added description and the resulting behavior in SilverDecisions - maybe you prefer something else (and again - detailed testing is required here).

[2016-12-08 22:25] bkamins commented on #42
@mwasiluk Curious behavior of tree flipping (not a bug but I want to understand why this happens):

Initial tree structure (edges are ordered `b/d/c`):
<img width="410" alt="example1" src="https://cloud.githubusercontent.com/assets/6187170/21030109/203235d0-bd9d-11e6-9df3-f16c2729f070.png">

1) I flip it
2) I move edge `c` to top (over 'b') in both branches
3) I flip it and the order `b/d/c` is pr

[2016-12-09 10:25] bkamins opened #64 "Allow # parameter for specifying probability"
Before #38 it would be good to have `#` as parameter for specifying probabilities. Usage is to make sure in a simple way that probabilities in a chance node add up to 1.

How it should work. Assume that we have chance node `C` and its child nodes `N1`, `N2`, `Nk`.
We allow that on some (including all and none) edges `C-Ni` instead of a proper number we have `#` as a single character.

Now assume t

[2016-12-09 10:33] bkamins commented on #38
More details about the expected functionality.

I recommend to keep definitions of variables in **right pane** (that would be like current left pane, but on the right side).
It should be possible to add new variables following these rules:
- variable is case sensitive and accepts only letters `[a-zA-Z]+`;
- value of the variable can only be a proper number (using variables, formulas or `#` in vari

[2016-12-09 10:44] pszufe opened #65 "Problem with event handling on Internet Explorer 11"
I have run SilverDecisions on Internet Explorer 11 on Windows 7 and can see that events regarding tree animations are not being executed:
![see the picture](https://cloud.githubusercontent.com/assets/3813584/21046355/a08ec66e-be04-11e6-80d8-90ae10d61ce3.png)
Seems that somehow animation stopped working...

[2016-12-09 10:45] mwasiluk commented on #38
As to expressions syntax we already use math.js expression engine to compute payoffs and propabilities:
http://mathjs.org/docs/expressions/index.html

Main thing missing is setting variables in the scope.

[2016-12-09 12:40] bkamins commented on #38
@mwasiluk this is really nice as I understand that you pass `scope` parameter to `eval` which should contain the variables you want and this should be simple to implement. Do I understand this correctly?

The other thing to remember is that after #64 we have to handle single `#` case separately.

[2016-12-09 12:46] bkamins commented on #38
We just have to mind possible side effects introduced by the library in general.
E.g. user might call `random` which will yield varying result on every call (and we must make sure that tree solver handles this properly). However, in general this might be useful in the future (when we implement Monte Carlo simulation and allow users to define non-deterministic payoffs).

[2016-12-09 14:36] bkamins commented on #63
I am moving "mulitple payoffs", "EVPI/EVII" and "sensitivity analysis" to separate issues as we have concluded that we want them and start planning the functionality.

[2016-12-09 15:00] bkamins opened #66 "Multiple payoffs in decision tree"
@michaljakubczyk I think that we do not need a separate Overleaf document for this.

What functionality would be needed:
1. add a new rule and name it "two criteria"
2. on every node it should allow to specify two payoffs (and only under this rule two payoffs are presented and editable); they should be presented one below the other in the tree (there is an issue how do we specify the measurement u

[2016-12-09 15:17] bkamins opened #67 "EVPI/EVII calculations"
We want to add functionality that would allow to do calculations like https://en.wikipedia.org/wiki/Expected_value_of_perfect_information.

What needs to be described:
1. calculation and transformation rules
2. required functionality of SilverDecisions

@michaljakubczyk For this we probably require a separate Overleaf document as this is complex and might evolve. Please make one when we start work

[2016-12-09 15:23] bkamins opened #68 "Sensitivity analysis of decision trees"
What needs to be described:
- calculation and visualization (in particular - what types of uncertainties and how we want to handle)
- required functionality of SilverDecisions

This might be a heavy change if we want to be able to provide empirical data tables as source of uncertainty (do we need it?).

In particular if we go for a simplified approach to  #66 (via metaparameter) a proper specifica

[2016-12-09 15:28] bkamins commented on #38
@michaljakubczyk related to #66 and #68:
As a second thought is it acceptable in the future that:
*When tree is flipped #42 all formulas are replaced by their values. The result of tree flipping is only actual values. (this might change in the future but for now I want it simple)*

Maybe in long run we would have to perform algebraic transformation of formulas during flipping? Please comment if th

[2016-12-12 15:07] mwasiluk commented on #42
@bkamins it was a bug. Edges were not always sorted (by y location) in the model after parent node was dragged. They were sorted only before displaying in the left sidebar. Fixed.

Now edges in the subtrees must be arranged in the same way to allow flipping.
Maybe it could be changed that e.g. order is decided by the first subtree?

[2016-12-12 15:10] bkamins commented on #42
After 1c136fc it is OK and I understand we have the following functionality
- tree flip correctly recognizes order of children of child chance nodes
- tree flip is allowed only if in all child nodes the order is the same (i.e. we disallow permutations of labels)

@michaljakubczyk when we go to production please document this functionality on Wiki (@annawier does not know it well enough).

[2016-12-12 15:20] bkamins commented on #38
@mwasiluk after a discussion if it would be possible to perform algebraic transformation of formulas when #42 this would be nice. This can be even simple pasting of strings (no need to parse the evaluation tree in maths library we use). We are open for discussion.

@michaljakubczyk but this is messy:
We probably actually need two modes when doing #42 transformation: *no formulas* (only numbers and

[2016-12-12 20:16] bkamins commented on #56
@mwasiluk "u mnie działa" 👍 .

Comments (no strong prefrence):
- ręczny -> "manualny"
- cluster -> maybe "zgrupowany"
- About is in english: @annawier provide @mwasiluk with Polish translation

@mwasiluk Can we close this issue (i.e. translations themselves will evolve, but is the core functionality finished - it seems to work - and we do not need an issue for corrections of translations).

[2016-12-12 20:18] bkamins commented on #56
@pszufe please:
- document `lang=pl` option on Wiki
- comment if you think we should have exposed links to SilverDecisions in other languages on project website?

[2016-12-12 20:21] bkamins commented on #18
@mwasiluk how it is supposed to work so that we know what to expect when testing and how to document it.

@annawier please document it.

[2016-12-12 20:50] mwasiluk commented on #18
context menu should appear on long press

[2016-12-12 21:44] bkamins commented on #18
@michaljakubczyk @annawier I have tested it on Android/Chrome and seems to work properly. Before we close it please provide more test results (in particular - on what os/browser combinations it works).

[2016-12-13 01:28] bkamins commented on #56
@mwasiluk @pszufe will update `pl.json` so we will be left with translation of contents of *About*.

[2016-12-13 01:39] pszufe commented on #56
Polish translations have been corrected. @mwasiluk now requires a rebuild/repackaging.

[2016-12-13 13:25] pszufe opened #69 "Problem with mouse event handling in dev 0.4 version"
If you select a node in a tree and want to change node selection sometimes it takes 2 mouse clicks to select a node instead of one.
It works properly in the production version. Only dev is affected

[2016-12-13 13:37] bkamins commented on #69
@pszufe Can you give a more detailed instruction as I am unable to reproduce this behavior.

[2016-12-13 13:41] mwasiluk commented on #69
I think that only Firefox is affected.

[2016-12-13 13:45] bkamins commented on #69
😄 I have checked Chrome, IE and Edge.

[2016-12-13 14:58] mwasiluk commented on #65
I can't reproduce it on IE 11.447.14393.0 on win 10.

[2016-12-13 16:45] bkamins opened #70 "Update docs/index.html"
@pszufe update `Run` button docs/index.html to allow for choice of the language.

[2016-12-13 23:23] annawier commented on #56
_About_ translation has just been sent to mwasiluk

[2016-12-15 01:09] pszufe commented on #38
@mwasiluk now after some discussion with @bkamins we have decided that the parameter list should be rather in the existing left Pane - let's not create a new right pane for that

[2016-12-15 11:59] bkamins opened #71 "Problems with JavaScript on IE"
@mwasiluk When we test with @pszufe SilverDecisions on IE it asks us for "allowed blocked content" and randomly hangs (+ some other occasional strange behaviors). Is there any general recommendation we could give in Documentation that IE users should follow to minimize the problems (other than "switch to other browser" 😄).

[2016-12-15 15:53] annawier commented on #18
SD works non my phone (Android, chrome) too:
- double click --> zoom (zoom scale by double click  on the left panel > zoom scale by double click on the canvas) shall I document that difference too or it's irrelevant?
- long press --> context menu
What's not working:
- multitouching on the left panel zooms, but it doesn't work on the canvas
- scrolling works on the left panel too but not on the can

[2016-12-15 15:59] bkamins commented on #18
@mwasiluk please comment what is doable and what is problematic here. Mobile is not a priority, but if we can correct those issues cheaply I would like to have them.

[2016-12-16 16:01] mwasiluk commented on #18
panning/scrolling and multitouch zooming on canvas collide with selection brush.
https://github.com/d3/d3/issues/1806

The one thing i've come up with is disabling brush for a few seconds after multitouch pinch is detected

[2016-12-16 16:06] mwasiluk commented on #71
I don't really know any good recommendations for IE users other than "switch to other browser" ;-)

[2016-12-16 16:15] mwasiluk commented on #61
I could add additional key event handlers (event.metaKey) like described in
http://stackoverflow.com/questions/3902635/how-does-one-capture-a-macs-command-key-via-javascript

https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/metaKey

But I don't have mac, so i can't test it myself.

[2016-12-16 18:43] bkamins commented on #71
OK. I will write some more friendly comment :).

[2016-12-16 18:43] #71 closed

[2016-12-16 18:51] bkamins commented on #61
@michaljakubczyk Please test this and #18 reasonably fast as we want to go with 0.4 to production. I have published current dev on http://bogumilkaminski.pl/sddev/.
If everything is OK please close this issue and update the documentation as needed.
If you feel we need to update the About dialog then write a recommendation what should be changed.

[2016-12-16 19:01] bkamins commented on #18
@annawier  Please test this reasonably fast as we want to go with 0.4 to production. I have published current dev on http://bogumilkaminski.pl/sddev/.
Then please update the documentation accordingly. If you feel that text in About dialog should be updated please post here an appropriate message.

@mwasiluk I have tested it on chrome/android and zooming and scrolling works. The only thing that you

[2016-12-16 19:02] bkamins commented on #70
done

[2016-12-16 19:02] #70 closed

[2016-12-16 19:02] bkamins commented on #69
@pszufe does it work properly now. If yes please close the issue.

[2016-12-16 19:04] bkamins commented on #65
@pszufe what do we do? Can you give steps to reproduce - then I will check it.
Otherwise we will add to `Known issues` what to do in such situations (I understand this happens on Win7/IE 11) and close it.

[2016-12-16 19:06] bkamins commented on #62
@mwasiluk please let me know if this is something that we could implement.

[2016-12-16 19:12] mwasiluk commented on #62
I don't think  it's recommended practice to change default tab behavior, because it will mess with page accessibility.

[2016-12-16 19:14] mwasiluk commented on #62
You can always use shift + tab to go to previous field

[2016-12-16 19:16] bkamins commented on #56
In a6d07532 and 0fb0a47 I have added one additional translation, requires rebuild.

@mwasiluk I want to close it but please confirm that we have implemented a fallback mechanism to English for missing translations.

[2016-12-16 19:18] bkamins commented on #62
I know, just @michaljakubczyk wanted it. Closing the issue as won't-fix

[2016-12-16 19:18] #62 closed

[2016-12-16 19:40] mwasiluk commented on #56
yes, there is a fallback to English for missing i18n keys

[2016-12-16 21:37] #56 closed

[2016-12-16 21:48] bkamins commented on #18
Both fixed but another minor issue.

If you select a terminal node of a tree everything is ok.
If you select a non-terminal node it is selected but zoom on this node is done (the node is enlarged).

[2016-12-16 22:02] bkamins opened #72 "Translation files"
@pszufe Please decide with pilots which translations are needed and prepare them with @annawier.
I see the following possible translations: Italian *it*, French *fr*, Dutch *nl*, Irish *ga*, German *de*.

@mczupr please prepare German translation (@pszufe or @bkamins will tell you how).

I set it to milestone 0.6 as I would like to have it finished by then but we will deploy them as hot-fixes.
I u

[2016-12-16 22:07] bkamins commented on #72
I am adding hotfix milestone for issues that should be merged to master once they are done.

[2016-12-17 00:58] pszufe commented on #65
So we have tested it and IE 11 on Windows 7 and Windows 2008 Server and both those OSes are affected. It is OK in Windows 10. Probably some JavaScript functionality is not available on Win 7. So now we consider dropping support for IE 11 on Windows 7.

[2016-12-17 09:21] bkamins commented on #63
Another non-functional idea is to make SilverDecisions available as an app using Electron.

[2016-12-17 17:40] bkamins commented on #65
@pszufe please check if this works and if it does so close the issue.

I will update the documentation

[2016-12-17 19:00] bkamins opened #73 "Add detection of Win7/IE11 on website"
@pszufe Following discussion with @mwasiluk please decide how to best handle the detection of Win7/IE11 on SilverDecisions website. Please do not implement it on dev so that we can merge it to main as hotfix when it is ready.

[2016-12-17 19:04] bkamins commented on #65
I am closing this. Any following cleanup will be done in #73.

[2016-12-17 19:04] #65 closed

[2016-12-17 19:04] pszufe commented on #69
now it's fine on FF.

[2016-12-17 19:04] #69 closed

[2016-12-17 19:07] pszufe commented on #73
@mwasiluk can we simply handle it within silverdecisions.js or we need a separate script?

[2016-12-17 19:11] bkamins commented on #61
@michaljakubczyk I assume this is done and OK. If anything shows up we will correct it after release of 0.4. Just please remember to document it and then I will close the issue.

[2016-12-17 20:46] annawier commented on #18
Zoom and scrolling on the canvas works, I can save to json. I've tested other functions and all of them seem to work properly.

Note: there is a warning in the top **right** corner saying that "selection brush enabled/disabled". But this warning is not visible if one zooms at the decision tree, which is always aligned to the **left** top corner. I didn't notice the warning at first, because it was

[2016-12-17 21:02] bkamins commented on #18
@mwasiluk I understand that moving this pop-up should not be a problem?

[2016-12-19 12:25] bkamins commented on #18
@annawier we are left with documentation

[2016-12-19 12:26] annawier commented on #18
It's already in dev branch, I'll check it (especially formatting) when it's
published :)

2016-12-19 13:25 GMT+01:00 Bogumił Kamiński <notifications@github.com>:

[2016-12-19 15:56] bkamins commented on #64
OK (so I treat this enhancement as prepared and remove the label), except for small things

1) after tree flip values are presented like `0.(1304347826086956521739)`, which should not be allowed (the expected functionality is to allow proper numbers (without parentheses)) as
    - no error is shown after tree flip
    - if you edit this value (enter the value in left panel but change nothing) then

[2016-12-19 17:01] mwasiluk commented on #64
Any valid math.js expression in probability/payoff input is allowed now.
The problem is that math.js expression engine doesn't parse recurring decimal numbers correctly.
To avoid recurring decimals after flipping I've changed computed probabilities format to fractions.

[2016-12-19 17:16] mwasiluk commented on #64
E.g.   0.(13)  is parsed as 0 * 13

[2016-12-19 19:45] bkamins commented on #64
### To do:
`Payoff`/`Probability`/`Aggregated Payoff`/`Probability to enter` should have translations (eg. under Polish SilverDecisions) and I would recommend to use sans-serif font for them

### To discuss (also @michaljakubczyk):
when performing a tree flip we always get a fraction e.g. `333/1000` in probability specification. This is OK in general (especially when we expect #38 in the future) b

[2016-12-19 19:48] mwasiluk commented on #64
http://mathjs.org/docs/expressions/syntax.html

[2016-12-19 20:12] mwasiluk commented on #64
Functions supported by fractions:
http://mathjs.org/docs/datatypes/fractions.html#support

[2016-12-19 21:30] bkamins commented on #64
I decided to simply write when it is out that probabilities and payoffs support arithmetic expressions and fractions (and not mention everything else untill #38)

[2016-12-19 22:09] bkamins commented on #38
After understanding #64 I would opt for something like this:

1) payoffs can be any proper single line expression of maths.js, example
[code]
2) probabilities can be `#` or any proper single line expression maths.js, example
[code]
3) variables and preprocessing code is defined in a pop-up window as a free text of proper maths.js (multiline)

If payoff or probability evaluates to something else th

[2016-12-19 22:12] bkamins commented on #66
if we go for what I have proposed in #38 we might even allow vectors as payoffs and get multiple-criteria analysis for free (we would just have to add new tree solving algorithms).
@mwasiluk this is very distant future but I assume it should not be a problem - we would simply check if all payoffs are arrays of the same dimension to validate the tree in multiple criteria scenario.

[2016-12-19 22:12] annawier commented on #59
documented

[2016-12-19 22:14] #59 closed

[2016-12-19 22:17] annawier commented on #39
documented in tips&tricks

[2016-12-19 22:41] #39 closed

[2016-12-20 20:21] bkamins commented on #34
Not working under IE (but handled correctly so it is acceptable)

Under Chrome and Edge on Windows 10 two problems:
- Polish letters (and probably also other non-latin characters) are not saved properly
- arrow tips are too small

[2016-12-20 20:35] mwasiluk commented on #34
One way to generate proper pdf currently is to save SVG and convert it with some tool, e.g.:
http://www.fileformat.info/convert/image/svg2pdf.htm
[test.pdf](https://github.com/bkamins/SilverDecisions/files/664691/test.pdf)

[2016-12-20 21:04] mwasiluk commented on #34
It seems that jsPDF doesn't support UTF-8 ;/
https://github.com/MrRio/jsPDF/issues/12

[2016-12-20 23:25] bkamins commented on #34
I assume that arrow-tips problem can be solved and concentrate on the Unicode.
@mwasiluk If I understand this correctly we have the following options:
1) leave it as is (and document that we do not support Unicode)
2) switch to pdfkit (should work, but is too heavy and probably I would recommend loading pdfkit on demand only) or pdfmake (I do not know if it has the functionality we need)
3) when P

[2016-12-21 11:57] mwasiluk commented on #34
It seems that pdfkit has support only for svg paths, not for rendering whole svg from string.
There is an SVG renderer for PDFKit side project https://github.com/devongovett/svgkit but it's unfinished.

W could also try to detect unicode characters in the diagram and then render pdf on the server.
Maybe we could use http://export.highcharts.com or set our own server:
http://www.highcharts.com/docs

[2016-12-21 12:35] bkamins commented on #34
If high charts works I am OK with this and ok to use their server. We could even probably have a fallback for `PNG` where it dose not work to their server also?

As for license: I understand that for non-commercial use (as is our case) it is free and under CC BY-NC 3.0 license, MIT is only if we wanted to setup our own server (and MIT is very liberal so this should not be a problem).

@mwasiluk Wh

[2016-12-21 12:46] mwasiluk commented on #34
We wouldn't use highcharts, only their export server

[2016-12-21 13:28] bkamins commented on #34
The current consensus is that:
1) we use export.highcharts.com
2) @annawier we have to add to documentation that not always fonts will be the same in PDF (when PDF renderer does not have them)
3) in the future we might switch to our own server, but this is not a priority (maybe someday @pszufe will want to setup a server on Amazon)
4) on systems where PNG generation fails we can use the same metho

[2016-12-21 19:22] bkamins commented on #64
Nice. Documentation left.

[2016-12-21 19:34] bkamins commented on #34
@mwasiluk Excellent work.

@annawier Please document the following things:
- PDF export is via external converter
- PNG is supported now under IE (also via external converter)

The external converter is: http://export.highcharts.com.

Additionally users should be informed that:
- the recommended export format is SVG as it guarantees exactly the same image as seen in the browser and it is fastest
-

[2016-12-22 21:34] michaljakubczyk commented on #61
Cmd+C/X/V/Z/Y still do not work (Ctrl+xxx works fine) on Mac+Safari. It might be difficult to handle, as in the application menu the commands copy/paste/... are greyed out, and cannot even be selected with a mouse-click. It will probably be difficult to handle this issue, not having a Mac during the development process :) I'd say, let's forget about it right now.

[2016-12-22 21:45] bkamins commented on #61
So you say that you are not able to perform copy from context menu (using mouse)?

[2016-12-22 21:48] bkamins commented on #61
Have you tested other browsers (Chrome, FireFox) under OS X.

[2016-12-22 22:24] bkamins commented on #18
@michaljakubczyk reports problems on iPad

[2016-12-23 11:56] annawier commented on #34
documented

2016-12-21 20:34 GMT+01:00 Bogumił Kamiński <notifications@github.com>:

[2016-12-23 13:05] #34 closed, assigned to mwasiluk

[2016-12-23 22:04] annawier commented on #34
"fonts which are **not** on PDF renderer server will **not** be substituted by alternatives in exported PDF file." --> shouldn't be: "fonts which are **not** on PDF renderer server will be substituted by alternatives in exported PDF file."?

[2016-12-23 22:48] bkamins commented on #34
thx

[2016-12-26 23:16] annawier commented on #64
Documented in:
https://github.com/bkamins/SilverDecisions/wiki/3.-Actions-supported-by-application#-probability-parameter
https://github.com/bkamins/SilverDecisions/wiki/5.-Usage-tricks-and-known-issues#other-tips--tricks

PS. `#` sign is never shown on the diagram, to see it one needs to place the mouse cursor on a given probability.

[2016-12-27 07:58] #64 closed

[2016-12-27 08:08] bkamins opened #74 "Update create first tree documentation"
@annawier On page:
https://github.com/bkamins/SilverDecisions/wiki/2.-Create-your-first-decision-tree-with-SilverDecisions

we should add two things:
* `#` sign (as it is automatically added to edges coming out of chance node when the treee is created)
* information that the tree shows *computed* values in payoffs and probabilities and you can see the expressions when you move mouse over the value

[2016-12-27 14:47] annawier commented on #74
All of them documented in https://github.com/bkamins/
SilverDecisions/wiki/5.-Usage-tricks-and-known-issues ,
https://github.com/bkamins/SilverDecisions/wiki/4.-Application-settings
  and
https://github.com/bkamins/SilverDecisions/wiki/3.-Actions-supported-by-application

I'll check the whole documentation once again to see if it's in line with
new functionalities

2016-12-27 9:08 GMT+01:00 Bogumi

[2016-12-27 15:05] #74 closed

[2016-12-27 17:21] bkamins opened #75 "Readonly seems not to work"
@mwasiluk How should read-only mode be enabled? (spotted by @annawier)

The current documentation:
https://github.com/bkamins/SilverDecisions/wiki/3.-Actions-supported-by-application#linking-to-your-decision-tree
does not work properly (and this is how I understood readonly parameter).

[2016-12-30 09:07] bkamins commented on #73
@pszufe Is this solved?

[2016-12-30 09:08] bkamins commented on #72
@annawier @mczupr what are the planned dates of preparation of the translations?

[2016-12-30 09:42] mczupr commented on #72
depends on your decision. I would prefer to work on report until end of
January and do the translation in February.

2016-12-30 10:08 GMT+01:00 Bogumił Kamiński <notifications@github.com>:

[2016-12-30 09:49] bkamins commented on #72
@mczupr February is OK

[2017-01-09 09:58] mwasiluk commented on #75
It was a bug.

[2017-01-09 12:29] bkamins commented on #75
ok. deployed

[2017-01-09 12:29] #75 closed

[2017-01-11 17:46] bkamins opened #76 "transform URLs to links in text fields"
In text fields (floating text fields only) it would be good if URLs were automatically converted to links so that user can click on them. Clicking on the link should open new tab.
@pszufe reports that pilots would welcome this functionality

[2017-01-11 17:49] bkamins commented on #63
@pszufe reports that pilots would like to transform trees to natural language descriptions. We assume that it would work only in English.

The steps to go forward with this are the following:
1. @pszufe prepares detailed description of the required algorithms and functionality
2. then we open an issue for implementation by @mwasiluk

[2017-01-12 10:22] pszufe commented on #73
Solved and tested - a warning message is being displayed while loading IE11 on Win 7

[2017-01-12 10:22] #73 closed

[2017-01-17 11:41] #35 closed

[2017-01-17 11:46] bkamins commented on #61
@mwasiluk please reverse the commit and we do not support `Cmd` and close the issue then.

[2017-01-17 12:40] bkamins commented on #68
Functionality for current release:
* logo: material/text format
* variables are defined only in global scope
* it is not allowed to define variables in the tree (and this is checked by application)
* if text in tree is not valid it is retained but `!` is shown next to the error
* in documentation we have to describe what is possible and warn users about proper usage of functions with side effects

[2017-01-17 12:40] bkamins commented on #63
As an extension of #68 we consider to allow defining variables in nodes and properly handling closures defined by tree structure.

[2017-01-17 12:42] bkamins commented on #66
The current conclusion is that we will add `Payoff2` attribute that is stored in the tree and is `0` by default.
The attribute can be hidden/shown by toggling a button.
We will add additional calculation rule, probably `cost-eff.` that will allow to analyze two-criteria trees

[2017-01-17 12:42] bkamins commented on #18
iPad will not be supported

[2017-01-17 12:42] #18 closed

[2017-01-17 12:43] #46 closed

[2017-01-17 12:49] bkamins commented on #38
@mwasiluk @michaljakubczyk
One more thing we did not discuss: how do we handle tree flipping?
Do we construct expressions (i.e. after the flip the tree is still parameterized) or simply input values (tree flip looses the link with underlying variables).

[2017-01-17 12:50] bkamins commented on #72
@annawier @mczupr
Part of translation files are also in the directory `src/templates/about` (not only in `src/i18n`).

[2017-01-17 15:52] #61 closed

[2017-01-17 20:31] bkamins commented on #76
@mwasiluk
1) link should be highlighted somehow so that user knows this is a link
2) link should open new tab (now it forces the user to leave SilverDecisions)

[2017-01-17 22:33] bkamins commented on #38
and one thing to document: these functions do not guarantee full precision (i.e. we operate on folats not on rationals).

@mwasiluk I understand that it is possible to mix rationals and floats in one tree.

[2017-01-17 22:40] bkamins commented on #63
@mwasiluk Regarding closures in #68, I understand that if we use `math.eval` and keep `scope` with values of already evaluated variables for each node this should be doable. Root node will use global scope as starting point, and each other node will have parent node's scope as starting point (I understand that actually the scope would have to be deep copied before evaluation to ensure that it woul

[2017-01-18 06:35] bkamins commented on #38
@mwasiluk
1. please also put `recalculate` button on top-level button bar (not only in global variables dialog) - it can be the same button visually. This is needed because in general change of code might happen in many places so we need a global recalculate button.
2. It would be good to make sure that in the tree expressions are evaluated only once and then all calculations (validation, optimiza

[2017-01-18 06:53] bkamins commented on #63
@mwasiluk when we will do the closures and it will be possible to define variables in nodes there should be some functionality to check the values of variables in a scope of given node (like now we plan to have the checker of value of variables in global scope)

[2017-01-18 06:58] bkamins commented on #38
And the core agreed functionality:

Functionality for current release:
* logo: material/text format
* variables are defined only in global scope
* it is not allowed to define variables in the tree (and this is checked by application)
* if text in tree is not valid it is retained but `!` is shown next to the error
* in documentation we have to describe what is possible and warn users about proper u

[2017-01-18 06:59] bkamins commented on #38
And the core agreed functionality:

Functionality for current release:
* logo: material/text format
* variables are defined only in global scope
* it is not allowed to define variables in the tree (and this is checked by application)
* if text in tree is not valid it is retained but `!` is shown next to the error
* in documentation we have to describe what is possible and warn users about proper u

[2017-01-18 07:00] bkamins commented on #38
@mwasiluk and one more thing (probably obvious): calculation of values for `#` should be made after all other evaluations have been mades.

[2017-01-18 15:58] bkamins commented on #38
tree flipping: the decision is that if a subtree is flipped it is first evaluated and after the tree flip only values are retained in resulting tree (no formulas). This should ensure a consistent work with closures that are planned to be introduced in the future.
@michaljakubczyk when you document *tree flipping* you can already say that this functionality (as already we allow simple expressions -

[2017-01-19 18:51] #42 closed

[2017-01-20 16:17] awatson1978 commented on #63
It would be great if the D3 rendering logic and math could be extracted out into an NPM library.  Just got assigned a decision tree as a class homework assignment, and was directed to this utility.  I'm thinking of porting it over to Meteor/React/Material-UI; since we have Electron integration already and a complete JSON data infrastructure using Mongo.

[2017-01-20 16:58] bkamins commented on #76
OK. We can release it as 0.5.1

[2017-01-20 16:58] #76 closed

[2017-01-20 17:14] bkamins commented on #38
@mwasiluk

- Just to make sure - we should allow comments in the code specifying variables. I understand that `#` is a comment in mathjs.
- I would disallow comments in probabilities and payoffs specification fields (like we disallow assignment). This means in particular that `#` has still to be specially treated in chance nodes as it is now.
- we have to remember that if user defines functions in

[2017-01-20 17:18] bkamins commented on #38
Actually because of the last point maybe we can allow anything in probability and chance nodes definitions that parses correctly (the code to handle it will be simpler) but simply discourage making assignments there in the documentation.

This means that also comments would be allowed, but still we have to treat single `#` in a special way in probability specification. However, adding spaces aroun

[2017-01-20 17:57] bkamins commented on #63
@awatson1978 As you can probably see from our code base currently rendering logic is closely coupled with the rest of the GUI. We think that it is a nice approach to make such a separation into NPM library so we keep it as a future idea, as we currently have to resolve long pending requests for other functionalities.

[2017-01-20 21:08] bkamins commented on #67
Link to document specifying the functionality (currently work in progress): https://www.overleaf.com/read/rgznwdpmxzpm

[2017-01-21 22:46] bkamins opened #77 "Extend set of optimization rules"
Following our discussion the following optimization rules should be implemented for now in SilverDecisions:
* `max` (should be default, previously called `classic`): maximization of expected value
* `min`: minimization of expected value
* `maxi-min`: as current (maximize in decision node, minimize in chance node)
* `maxi-max`: as current (maximize in decision node, maximize in chance node)
* `mini

[2017-01-22 11:02] bkamins opened #78 "Wrong parsing of numbers with leading space"
When a payoff with leading space is entered into a tree it is not correctly parsed (it is ignored). See the picture below with incorrect data shown in the edge leading to bottom terminal node (there is a space before `1123` in the left pane editor).
<img width="365" alt="error" src="https://cloud.githubusercontent.com/assets/6187170/22182013/627a943a-e09a-11e6-9c3f-3eef1fa1da95.png">

[2017-01-22 11:10] bkamins opened #79 "Incorrect parsing of very small numbers"
If you enter a very small number into silver decisions sometimes it is parsed correctly and sometimes not.
See the picture below. The bottom most edge has more `9`-s than the middle and top edge, but not all `9`-s are shown and it is selected as optimal.
<img width="495" alt="error" src="https://cloud.githubusercontent.com/assets/6187170/22182040/35d4b946-e09b-11e6-881b-617dda0498fb.png">

Additio

[2017-01-22 11:18] bkamins opened #80 "Limits of values processed by SilverDecisions"
In `src/objective` calculation routines we have set fixed values that are supposed to be minimum/maximum. E.g. in `expected-value-maximization-rule.js` it is `-99999999999` for choosing the decision decision node as a bottom (and this will lead to errors if user uses smaller values).

@mwasiluk We should inform users what are the minimum and maximum values handled by SilverDecisions and @bkamins w

[2017-01-22 11:35] bkamins commented on #80
@mwasiluk in addition the question is why we do not use `Infinity` and `-Infinity` in the code for optimal path selection. They are parsed by `MathJS` and should always compare properly (but maybe there is some reason for the current implementation).

[2017-01-22 17:05] mwasiluk commented on #80
Infinity should be used in the code for optimal path selection.

As to limitations.
Now we use only Fraction, so limitations are described [here](https://github.com/infusion/Fraction.js#precision):

In the next (0.6) version we will be using mixed number representation:
* number for expressions, which is required to support all math.js functions
* Fraction for payoffs and probabilities, with input

[2017-01-22 17:54] bkamins commented on #78
Fixed

[2017-01-22 17:54] #78 closed

[2017-01-22 18:00] bkamins commented on #79
Fixed and adding the comment that users should not use values of greater magnitude than '1 000 000 000 000 000'.

[2017-01-22 18:00] #79 closed

[2017-01-22 18:01] bkamins commented on #80
OK. I put into the documentation that users should not use values greater than
`1 000 000 000 000 000` to be on the safe side (then even if the tree has depth 9 the aggregate will be OK).
It should be OK then.

[2017-01-22 18:01] #80 closed

[2017-01-23 22:13] bkamins opened #81 "Metadata: variable definition"
The following scenarios could work better:
1) enter `a=3` in code
2) press `Open dialog`

currently: dialog is empty
should be: dialog should contain `a=3`

1) enter `a=3` in code
2) press `Recalculate`
3) enter `a=4` in code
4) press `Open dialog`

currently: dialog is contains `a=4` but evaluation is `a=3`
should be: when `Open dialog` triggers `Recalculate` (at least this is what I would expect

[2017-01-23 22:19] bkamins opened #82 "Metadata: some objects should not have Variables section"
It is no use to define code in `Terminal node` as it is not taken into any calculations anyway. I would remove `Variables` section for terminal nodes.

Also `Variables` should not be shown when `Edge` is selected (as it currently redefines variable in parent `Node`) which is not good (it has effect in other branches).

[2017-01-23 22:23] bkamins opened #83 "Metadata: automatic recalculation"
`Recalculate` should trigger automatically when `Code` section loses focus.

In general this is the process how recalculation should work (@mwasiluk please confirm that it does this way):
* when `Recalculate` is pressed global variables and whole tree is recalculated in any *topological sorting* of nodes; each node is recalculated only once (important when `random` is used)
* `Recalculate` is auto

[2017-01-23 22:33] bkamins commented on #83
Additional comment regarding evaluation.
@mwasiluk Please confirm that this is an actual and intended behavior.
I set `a=10` in global scope, and then define `a=2*a` in node.
Then in this node `a=20` as it is redefined because RHS is taken from outer scope

[2017-01-23 22:36] bkamins opened #84 "Metadata: insufficient checking of probabilities"
Setting `-1` as probability in edge from chance node and having `#` in second edge allows tree to be recalculated and no `!!` is shown.

[2017-01-23 23:05] bkamins commented on #38
@mwasiluk bits and pieces:
1) now `⍽#⍽` and other like this are parsed as `#` in probabilities in chance edges (probably due to trimming?) - we can leave it "as is" but let's just confirm that this was intended
2) definition of variables in `payoff` and `probability` fields is not allowed. This is also OK, and after thinking should be like this but let us confirm that it was intended

additionally

[2017-01-23 23:08] bkamins commented on #38
@mwasiluk Also - are you sure that evaluation of expressions is done only once. In the above example it seems to me that `f()` gets called more than two times (and it should be called exactly two times when tree is recalculated)

[2017-01-23 23:12] bkamins commented on #38
A minimal example when tree fails to save is the following code in global scope and empty canvas:
[code]

[2017-01-24 06:07] bkamins commented on #83
@mwasiluk another thing to decide and put into documentation:
editing of a tree does not trigger recalculation of variables. pressing `Recalculate` (only editing of `Code` sections after the fix I recommend) does. this makes a difference when formulas in payoffs/probabilities have side effects that modify variables.
alternatively we could decide that recalculation of variables is triggered every t

[2017-01-24 11:14] bkamins opened #85 "Error in display and parsing of saved json"
@mwasiluk please check out the following picture and JSON (in error.txt):
<img width="700" alt="error" src="https://cloud.githubusercontent.com/assets/6187170/22245055/5c56e6fe-e22e-11e6-91c3-ea041dd78b86.png">

[error.txt](https://github.com/bkamins/SilverDecisions/files/726442/error.txt)

Problems:
1) after tree flip some numbers are painted in wrong position (check out the picture)
2) I have sa

[2017-01-24 13:48] bkamins opened #86 "Add save time to save file data"
I recommend to add `savetime` parameter to JSON format specification. It should be probably at top level just after `SilveDecisions` parameter and contain date and time of last save of the file (in the future it might be useful for automated testing using git bisect as it is more granular than version number).

[2017-01-24 16:20] bkamins opened #87 "Add automated regression testing"
For JSON files in `test/trees` an automated process during build for production should check the status of their loading by SilverDecisions:
* files with suffix `_pass.json` should load without error;
* files with suffix `_fail.json` should load with error.

This is not urgent and not related to any functionality milestone so I label it hotfix.

[2017-01-24 17:35] mwasiluk commented on #83
Is this necessary? Maybe single recomputation when the code block loses focus after its value was changed would be enough?

[2017-01-24 19:03] bkamins commented on #83
@mwasiluk OK
@bkamins Document that change of the tree does not lead to recomputation of variables.

When it makes a difference (either way is acceptable but we need to be clear about it in documentation):

Situation 1. Consider the following global variable `a=random()`; the issue is when `a` is recomputed - either every time a tree is modified or only when `Recalculate` is pressed (we have decid

[2017-01-24 19:05] bkamins commented on #83
@mwasiluk Ah - you have asked for different thing. Yes - Recalculate has to be  triggered when Variable definitions dialog is closed.
Why? Because you can open "Variable definition dialog" without having focus in "Code" field. So recalculation only when "Code" loses focus is not enough. Is it clear what I mean?

Of course we still have manual recalculation.

[2017-01-24 19:22] bkamins commented on #82
OK

[2017-01-24 19:22] #82 closed

[2017-01-24 19:25] bkamins commented on #84
OK

[2017-01-24 19:25] #84 closed

[2017-01-24 19:30] bkamins commented on #83
Just tested - works correctly and as I have described (@mwasiluk nevertheless please read my comments so that we are clear about the consequences - this "infinite incrementation" I have predicted actually happens).

[2017-01-24 19:30] #83 closed

[2017-01-24 19:38] bkamins opened #88 "New diagram does not clear global variables"
@michaljakubczyk @mwasiluk Clicking `New diagram` leaves global variables untouched. Do we leave it or `New diagram` should clear global variables?

I see merits of both options but tend to think that global variables should be cleared.

PS. Load JSON clears global variables correctly.

[2017-01-24 19:40] bkamins opened #89 "Update developer documentation after 0.6"
@mwasiluk I am mainly thinking about changes in save file format structure (but maybe something else also should be documented) that should be documented.

[2017-01-24 19:52] mwasiluk commented on #38
Expressions in nodes are evaluated in this way:
1. Scope is initialized as a deep copy of the parent scope
2. Code evaluation
3. Evaluation of 'numeric expressions' for each child edge (payoff, probability)

Steps 1 and 2 are performed only on 'full' recomputation.

Nodes are evaluated in depth-first order.

[2017-01-24 20:08] bkamins commented on #81
@mwasiluk the second problem is fixed by today's commits, but the first one (bare `a=3` and no evaluation when no code is shown in dialog when it is opened) is not fixed.
I recommend to trigger `Recalculate` when `Open dialog` button is pressed as I guess it should solve the problem.

[2017-01-24 20:15] bkamins commented on #85
On `metadata` branch JSON saves and loads correctly, but positioning of probability labels is still corrupted (but only minimally) - i.e. when you flip a tree and press any node blue numbers slightly move.
I attache "corrupted" tree - click on anything and it will fix positioning.
[decisiontree@2017.01.24_21.12.32.txt](https://github.com/bkamins/SilverDecisions/files/727859/decisiontree.2017.01.24

[2017-01-24 20:22] bkamins commented on #38
@mwasiluk As far as I understand we are done with this one :). All the points raised here are fixed. We are left with some side issues to close.

[2017-01-24 20:22] #38 closed

[2017-01-24 21:49] mwasiluk commented on #88
IMO global variables and code should be cleared

[2017-01-24 21:49] michaljakubczyk commented on #88
clear’em all, in my view :)

From: Bogumił Kamiński [mailto:notifications@github.com]
Sent: Tuesday, January 24, 2017 8:39 PM
To: bkamins/SilverDecisions <SilverDecisions@noreply.github.com>
Cc: michaljakubczyk <michal.jakubczyk@gmail.com>; Mention <mention@noreply.github.com>
Subject: [bkamins/SilverDecisions] New diagram does not clear global variables (#88)

@michaljakubczyk <https://github.com

[2017-01-24 21:52] bkamins commented on #88
@mwasiluk so clear it is :)

[2017-01-24 22:14] bkamins commented on #88
OK

[2017-01-24 22:14] #88 closed

[2017-01-25 08:00] bkamins commented on #81
Small issue left:
* Sometimes `Open dialog` opens dialog and sometimes performs `Recalculate` only (and does not open a dialog). The second behavior is for example in the case:
1) open new empty model
2) enter variable in `Code`
3) press `Open dialog` (and dialog does not open)

[2017-01-25 08:02] bkamins commented on #86
@mwasiluk what do `T` and `Z` mean in saved date-time:
[code]
can they change to other symbols/strings or always `T` and `Z` will be present?

[2017-01-25 08:54] bkamins opened #90 "Console logging policy"
Logging application state in console is a good policy.
What I would recommend is to set at least logging priorities: `warning` and `debug` (@mwasiluk may be more if you find it useful).

`warning` should indicate any error or warning caught when application is run. It should always be logged to the console.

`debug` should indicate any information that might be useful to developer when debugging a

[2017-01-25 10:42] mwasiluk commented on #86
It's [ISO 8601 UTC time format](https://en.wikipedia.org/wiki/ISO_8601)

From wiki:

[2017-01-25 10:44] #86 closed

[2017-01-25 14:32] bkamins commented on #77
@mwasiluk Commit a8c6732da5 cleans up payoff calculation (also changes old calculation as it was inconsistent between maxi-min and maxi-max) I have also added a test file for all the rules in test/trees.
I will test it when a new build is made.

Currently all [maxi|mini]-[max|min] at terminal node print out probability 1/[number terminal nodes possible to reach under the decision chosen by the rul

[2017-01-25 15:23] mwasiluk commented on #77
I've updated dist in 758abea

[2017-01-25 15:30] bkamins commented on #77
done

[2017-01-25 15:30] #77 closed

[2017-01-25 19:28] bkamins commented on #81
@mwasiluk problem was fixed somewhere in the meantime. Do you remember which commit - for the reference?

[2017-01-25 19:28] #81 closed

[2017-01-25 20:11] mwasiluk commented on #81
In 758abead617117b31bd6b6d049f8823a4446b35f by increased recomputation debounce.

[2017-01-26 08:15] bkamins opened #91 "Error with using text fields"
Steps to reproduce:
* open `payoffrules_pass.json` file from `test/trees`
* make `Variables` section expanded (to see what happens)
* add floating text object in canvas
* start writing in `Floating text` field in left pane
* Leave focus from the left pane

Result:
1) there is no text in text field, the text is lost
2) in `Variables` field `Code` contains text `undefined`

It seems that code evalua

[2017-01-26 10:50] bkamins commented on #91
@mwasiluk here you have the relevant log dump:
<img width="405" alt="error" src="https://cloud.githubusercontent.com/assets/6187170/22328640/8fb9a5c8-e3bd-11e6-9910-fe369cb09095.png">

[2017-01-26 13:54] bkamins commented on #91
fixed

[2017-01-26 13:54] #91 closed

[2017-01-27 13:37] bkamins opened #92 "Improve loading of SilverDecisions files"
When a file is loaded under SilverDecisions the following actions should be performed:

| step | test | action on error |
|-|-|-|
| 1 | is file recognized as SilverDecisions save | show dialog box with error and stop loading|
| 2 | error during loading of the file | show dialog box with error and stop loading |
| 3 | version in file newer than version of application | show dialog box with warning

[2017-01-28 19:52] bkamins opened #93 "Allow node type conversion"
@mwasiluk this is a request of @michaljakubczyk after teaching.

In context menu (when RMB is pressed on node) there should be a new set of options added in form:
`As Decision Node`, `As Chance Node` and `As Terminal Node` allowing to convert node to other type of node. Those options should be in a new section below `Delete` and above `Select subtree`.

The following rules specify what should be s

[2017-01-28 19:57] bkamins opened #94 "Hide information on decision tree"
@mwasiluk Another feature requested by @michaljakubczyk.

In `Settings` dialog box add three options:
* hide labels (off by default)
* hide payoffs (off by default)
* hide probabilities (off by default)

that would disable showing labels/payoffs/probabilities in the tree. I would put it in `Other` section as we have on/off switches there.

[2017-01-30 19:01] bkamins commented on #68
@mwasiluk On Overleaf https://www.overleaf.com/read/jypgbhmdpzwq we keep with @michaljakubczyk specification of required functionality. It is a work in progress currently but you can have a look at type of functionality we need and comment. We will let you know when it is ready for development

[2017-01-31 16:38] mwasiluk commented on #87
Maybe there should be some distinction in failure examples between 'hard' errors on file load and tree computation/validation errors?

[2017-01-31 16:44] mwasiluk commented on #87
Maybe some suffix like `_fail_hard.json` ?

[2017-01-31 17:28] mwasiluk commented on #92
maybe it would be better to store build_timestamp (unix timestamp)  instead of incremented integer?

[2017-01-31 17:39] bkamins commented on #92
build_timestamp is OK

[2017-01-31 17:47] bkamins commented on #87
OK:
* `_fail_hard.json` should mean that the format is not proper, e.g. missing fields or malformed JSON (i.e. the file is a file that was not created in SilverDecisions via save);
* `_fail.json` should mean that the tree format is OK, but data/structure is invalid (i.e. the file is a file that could be created in SilverDecisions via save);

I am adding one example of `fail_hard.json`.

[2017-01-31 17:48] mwasiluk commented on #87
OK, I've added one fail_hard example without SilverDecisions field

[2017-01-31 17:58] bkamins commented on #87
@mwasiluk Especially check *badx_fail_hard.json* file I have just pushed to master to decide how hard we want track down such class of malformed input.

[2017-01-31 18:06] bkamins commented on #87
I understand that 06eafce is for your developer tests use only?

[2017-01-31 22:38] bkamins commented on #94
It would be nice to also add fourth option. I wold call it `raw`.
It should:
* disable showing of computed payoffs on nodes (now we have identical effect when there is an error in the tree)
* disable showing errors `!!`
* in payoffs and probabilities show raw expressions that were input (again - the same effect is currently when there is an evaluation error)

@mwasiluk if this is very difficult pl

[2017-02-01 13:21] mwasiluk commented on #92
Build timestamp is saved as buildTimestamp to preserve naming convention in json file

[2017-02-01 13:59] bkamins commented on #92
@mwasiluk Can we close it? I have tested all requested features and they work, but maybe you want to add some more tests before closing.

[2017-02-01 14:37] bkamins commented on #94
excellent :). and saving/new file etc. seems to work OK also

[2017-02-01 14:37] #94 closed

[2017-02-01 14:37] bkamins commented on #89
#94 should be included in update of documentation

[2017-02-01 20:04] bkamins commented on #93
All OK except changing of type of root node in the tree. It does not work.
Actually there is a need for additional rule.
For root node the only allowed node types are `Decision` and `Chance` (this restriction is an extension of the rules above only if root node is the only node in the tree and then it should not be possible to change its type to `Terminal` and above rules would allow this).

[2017-02-01 20:05] bkamins commented on #89
#92 buildTimestamp should be documented

[2017-02-01 21:45] bkamins commented on #90
One thing - probably obvious; we do not need internationalization of console messages.

[2017-02-01 21:46] bkamins commented on #87
@mwasiluk can we close this?

[2017-02-01 21:46] bkamins commented on #87
I mean - additional tests will be added by me all the time, but is testing infrastructure finished on your side?

[2017-02-02 13:59] mwasiluk commented on #87
I think it's ready

[2017-02-02 16:37] #87 closed

[2017-02-02 17:01] bkamins commented on #93
OK

[2017-02-02 17:01] #93 closed

[2017-02-02 18:23] bkamins commented on #85
@mwasiluk In general:
1. if you know the reason of the problem and it can be solved then let's fix it.
2. if the problem is hard to track or there is no easy way to solve it then forcing full redraw after tree flip is an acceptable fix (although in such a case we might encounter similar problem in the future for other operations).

[2017-02-02 23:12] bkamins opened #95 "Strict division into modules"
@mwasiluk For 1.0 release the following is initial draft of separation of SilverDecisions code into components: https://www.overleaf.com/read/pfqynqqdyndw.

[2017-02-02 23:36] bkamins commented on #63
Closing this - with #95 we are finalizing feature list for 1.0.

[2017-02-02 23:36] #63 closed

[2017-02-03 12:17] bkamins commented on #85
OK

[2017-02-03 12:17] #85 closed

[2017-02-03 12:58] mwasiluk commented on #90
We could use something like [this](https://github.com/pimterry/loglevel) to control logging.
It's about 2,3 KB minimized
It has standard logging levels implemented, so it should be easy to replace in the future with another lib if needed.

[2017-02-03 13:08] bkamins commented on #90
this is exactly the type of tool I thought of.

[2017-02-08 22:01] bkamins commented on #90
OK. I understand that `demo/dev` has `debug` level and `docs` has normal logging level.

[2017-02-08 22:01] #90 closed

[2017-02-08 22:12] bkamins opened #96 "Updating of coloring of payoff on edges"
If payoff on the edge is evaluated using a variable the color of payoff is not updated, eg. if `a=-1` and payoff is equal to `a` its color under default settings is black and should be red (it is red if payoff is entered as `-1` directly).

@mwasiluk probably all updating of colors and other attributes should be reviewed taking into account that we perform evaluation of expressions now.

[2017-02-08 22:53] bkamins opened #97 "Wrong tree flip rounding"
Look at `test/trees/differentrulesandflip_pass.json` test file (new test).
Perform tree flip of lower branch. `Opcja 2 / dwa` branch shows an error because of wrong rounding after the flip.

@mwasiluk Algorithm must be corrected to make sure that probabilities add up exactly to 1 in chance nodes.

[2017-02-13 16:58] mwasiluk commented on #92
I think we can close it for now.

[2017-02-13 20:07] #92 closed

[2017-02-13 20:19] #89 closed

[2017-02-13 20:25] #97 closed

[2017-02-13 20:26] #72 closed

[2017-02-13 20:27] #96 closed

[2017-02-19 22:33] bkamins opened #98 "add generators for non-uniform pseudorandom variables"
We should add this either via some external library (@mwasiluk) or @bkamins will write custom extensions if needed.
We roughly want the following distributions (this is flexible):
* normal
* exponential
* triangular
* trapezoidal
* uniform on any interval
* beta
* gamma
* Bernoulli
* binomial
* discrete uniform
* geometric
* Poisson

[2017-03-10 20:49] bkamins opened #99 "Allow folding of subtrees"
It would be useful in large trees to have a folding button - just after the node, where the edges start branching - if the rest of the tree is folded.

It could look like `[+]` when folded (square with `+` inside: standard way to show folding). Folding and unfolding could be placed in context menu, and pressing `[+]` should also unfold.

When the tree is unfolded nothing should be shown (it looks

[2017-03-24 20:21] bkamins opened #100 "Import tabular data"
We have one constantly returning request from the users to allow access data from Excel. In general browsers will not allow this.

This is my recommendation, please comment and next we will what will get implemented:
* create a new top level button with `grid on` material icon; pressing this icon will open a text dialog
* user can paste anything she wants to this text dialog; however, we assume th

[2017-04-06 17:53] bkamins commented on #66
@mwasiluk this is an initial write-up of SA specification for your review: https://www.overleaf.com/read/gjtgsvkmbnxz

[2017-04-06 20:52] bkamins opened #101 "Not all arrows are shown after SA"
Under Chrome:
1. Run SA
2. In SA show some decision (by clicking in table cell)
3. close view
4. close SA

after this in main view Chrome does not show all arrows.

[2017-04-06 20:57] bkamins opened #102 "In SA table view not all cells are shown"
in the attached file
[rockefellerWithParams.txt](https://github.com/SilverDecisions/SilverDecisions/files/903929/rockefellerWithParams.txt)

if you run N-way SA with pr from 0 to 1 with 11 steps then do in rows `policy` and in columns `pr` the cell `instaluj`x`0.1` is empty and should show 0.0.

[2017-04-06 21:04] bkamins opened #103 "SA export to CSV"
Recommendations for export to CSV:
1. filename should be generated in similar way as SVG etc. export filenames are generated
2. column `policy number` would better be named `policy_number` (with underscore) - it is easier to import in many softwares
3. policy names should be formatted as single line names (with `-(` and `,` notation defined in #68) - not multiline; again - this is easier to read a

[2017-04-06 21:05] bkamins opened #104 "SA - disable Tornado diagram"
Tornado currently does not work so disable showing it.

[2017-04-06 21:08] bkamins opened #105 "SA probabilistic"
Set reasonable rounding in table output. Now the values shown are too precise and do not look nice.

[2017-04-06 21:16] mwasiluk commented on #105
2 decimal places or more?

[2017-04-06 21:19] bkamins commented on #105
can you use information from global settings (where user sets number of decimal places)?

[2017-04-06 21:20] bkamins opened #106 "SA default layout of N-way table"
I recommend to put in SA N-way table:
1) in row: only `policy`
2) in column: all variables over which N-way SA is performed

[2017-04-06 21:55] bkamins commented on #100
Another option - to be considered - is integration with googledocs or excel online.
@mwasiluk please check it but it is not top priority now (we need to deploy SA).

[2017-04-06 22:06] mwasiluk commented on #105
I can use same payoff number format as in the diagram

[2017-04-07 14:39] bkamins commented on #106
OK

[2017-04-07 14:39] #106 closed

[2017-04-07 14:39] bkamins commented on #105
OK

[2017-04-07 14:39] #105 closed

[2017-04-07 14:42] bkamins opened #107 "SA - probabilistic"
`Totals` column is not needed. Do you see any value from this column?

[2017-04-07 14:42] bkamins commented on #104
OK

[2017-04-07 14:42] #104 closed

[2017-04-07 14:42] bkamins commented on #103
OK

[2017-04-07 14:42] #103 closed

[2017-04-07 14:45] bkamins commented on #102
@mwasiluk Additionally it is not clear how table cell values are formated. They always have 2 decimal places. Is this automatically decided by table renderer or you have set it manually (in the latter case maybe it is better to import formatting from global setting in SD like in the fix for Probabilistic SA?)

[2017-04-07 14:50] bkamins commented on #102
Additionally in sweeps of values, e.g. variable `x` from `0` to `1` with `12` values the formatting of sweep variable `x` in a table is not nice (it should be probably rounded to some reasonable length) - decide what is simplest pls..

[2017-04-07 14:51] bkamins opened #108 "SA - parameters after new tree is loaded"
The parameters of SA should be reset to nothing when a new diagram is defined or when a new tree is loaded

[2017-04-07 15:40] mwasiluk commented on #107
It's the only clickable column for policy preview.

[2017-04-10 21:26] bkamins commented on #108
However, when editing a single tree parameters should be retained when there is switching between different analysis N-way/Probabilistic/possibly other in the future.

Additionally it would be nice if parameters were saved in savefile (and restored when savefile is loaded).

[2017-04-10 21:32] bkamins opened #109 "SA - N-way setup"
In N-way SA user provides: `min`, `max` and `length`.
An additional read-only value `step` should be automatically calculated using the formula:
`(max-min)/(length-1)`.

Additionally:
* is should be checked if `max` is **strictly larger than** `min`
* `length` is an integer (now it is not checked) and it must be at least 2
* only variables defined in global scope should be allowed as variables in

[2017-04-10 21:35] bkamins opened #110 "SA: handling of NaN"
Now it is not clear what happens if in SA an error in definition of the tree happens. It seems that table shows 0.0.
An error is eg. setting negative probability or logarithm of negative value.

My recommendation: show NaN in a table (if this is possible).
@mwasiluk: what is possible?

[2017-04-10 21:44] bkamins commented on #107
Can you then change this value to some text like "policy preview"?

Additional requirements:
* variables should be selected from a list of variables defined in global scope
* add `info outline` material design icon after formula with the following text `example formula random() samples a random value from interval from 0 to 1`; this text will be changed when #98 is implemented; also then we might

[2017-04-10 21:44] bkamins commented on #98
@pszufe will implement it

[2017-04-10 21:46] bkamins opened #111 "SA: tree preview"
A bar at the top of the tree preview should be shown (so that it is clear where `X` is located).
Additionally on this bar a parameterization used to generate the tree should be shown.

[2017-04-12 09:46] mwasiluk commented on #110
If the tree is invalid payoff is set to string 'n/a' in the data passed to pivot table.
It's treated as 0.0 in computed pivot cells because it's a result of a selected agregator function (which normally skips NaN values).
N/A is visible in 'First'/'Last' agregator function and if payoff is set as column/row.

[2017-04-12 11:45] bkamins commented on #110
Please implement the following functionality:
If there is any `n/a` in the results of the computations of the payoffs of the trees SA (N-way and Probabilistic) must not show SA results but should show an error dialog box:

And the parameterization should be any of the parameters that generate `n/a` (as there might be multiple).
After clicking OK user goes back to SA definition dialog.

[2017-04-12 11:54] bkamins opened #112 "SA: large results"
There are two issues in large SA.

* SA is very large (N-way or Probabilistic)
@mwasiluk please check a reasonable value (probably 100,000 is reasonably large)
In SA definition dialog box if user enters parameters that result in more scenarios than this value some warning should appear like:

* In N-way SA if there are many parameters over which we perform sweep.
In SA definition dialog box if use

[2017-04-13 11:10] bkamins commented on #102
OK

[2017-04-13 11:10] #102 closed

[2017-04-13 11:12] bkamins commented on #110
ok

[2017-04-13 11:12] #110 closed

[2017-04-13 11:16] bkamins commented on #112
1. Decrease 100,000 to 10,000 -> it is already very slow for 10,000
2. If an error was issued and data is corrected and `Run` is pressed actually warning is cleared only and run is not executed. You have to click `Run` for the second time. It is a minor issue, but could be corrected :)

[2017-04-13 11:19] bkamins commented on #112
@mwasiluk I understand that you retain the warning about large number of parameters also in table view - it is OK.
Do you also retain warning about large number of computations (I have not checked as I did not have time to wait till 100,000 :))?

[2017-04-13 11:34] mwasiluk commented on #112
yes, all warnings are retained until back is clicked/dialog is closed

[2017-04-13 11:49] mwasiluk commented on #101
It should be fixed with 8f6b013

[2017-04-13 12:04] mwasiluk commented on #112
@bkamins Maybe we should check variable length before setting it as column in pivot table? E.g. if user defines one variable with length > 100 000 browser tab may crash on pivottable rendering, but if we filter this variable from the table columns user should be able to at least download a csv file with the result.

[2017-04-13 12:12] bkamins commented on #112
1. Decrease limit to 10,000 as I have written earlier
2. Add rule to add variables to columns as long as less than 1000 columns would be generated (as 1000 should work smoothly - it works OK on Chrome). What do you think?

[2017-04-13 12:19] bkamins commented on #101
fixed

[2017-04-13 12:19] #101 closed

[2017-04-13 12:37] mwasiluk commented on #112
OK

[2017-04-15 07:44] bkamins commented on #112
OK. Leaving open for docs

[2017-04-15 10:32] #112 closed

[2017-04-15 10:36] bkamins commented on #108
OK

[2017-04-15 10:36] #108 closed

[2017-04-15 10:37] bkamins commented on #111
OK

[2017-04-15 10:37] #111 closed

[2017-04-15 10:43] bkamins commented on #109
Excellent. Two minor issues:
1. when the variable is used twice only `Variables` text is highlighted. I recommend to highlight in red the second offending definition
2. highlighting in red is sometimes wrong; I give only one example below, but probably you have some flag that is not reset properly and there are several other similar scenarios:
    * define wrong parameter; it gets highlighted in r

[2017-04-15 10:49] bkamins commented on #107
OK. Except that similar to #109 when the variable is used twice I would highlight the second usage in red.

[2017-04-15 10:57] bkamins commented on #98
@pszufe - excellent. I would only ask to add strict parameters checking (if they have correct types and correct ranges, eg. negavie std in normal, on negative lambda in exponential) -> in such cases NaN should be produced.

@mwasiluk - it is implemented in https://github.com/SilverDecisions/sd-random.
1. please check if definition of `random()` does not offend definition of `random` in MathJS, if

[2017-04-18 15:48] mwasiluk commented on #98
The gamma function collides with math.js implementation:
http://mathjs.org/docs/reference/functions/gamma.html

[2017-04-18 16:43] bkamins commented on #98
@mwasiluk The decision is to:
1. rename all functions to uppercase;
2. remove `random` from menu list
I will implement both changes in the source code of `sd-random`.

@pszufe what is the status of implementation of checks of types and ranges of arguments?

[2017-04-18 16:54] bkamins commented on #109
OK

[2017-04-18 16:54] #109 closed

[2017-04-18 16:57] bkamins commented on #107
OK

[2017-04-18 16:57] #107 closed

[2017-04-18 16:58] bkamins commented on #68
Tornado and spider diagrams are rescheduled for release 0.9

[2017-04-18 20:43] bkamins commented on #98
@mwasiluk drop down:
* under Chrome does not show properly (it seems as if it was shown below the dialog)
* under IE shows properly, but after selection an error is reported and the computations do not start

should I send screenshots?

[2017-04-18 20:48] bkamins opened #113 "SA: handling errors in IE"
@mwasiluk Under IE some cleanup of error handling of SA parameterization is required.
Example problem in N-way SA (in Rockefeller):
1. define variable pr
2. define variable pr second time
3. run (error shows - it is OK)
4. change second variable to sens
5. run - here we run into a bug; pr is still red and run is not performed (and should be)

[2017-04-18 20:56] mwasiluk commented on #98
It should look like this on Chrome:
![sd-drop-dow](https://cloud.githubusercontent.com/assets/1236142/25152703/36bc5ef8-248a-11e7-9492-724cd9efa938.png)

[2017-04-18 20:59] bkamins commented on #98
I know, but it looks like this (observe Gamma in the background):
![image](https://cloud.githubusercontent.com/assets/6187170/25152846/b08ff578-248a-11e7-8f4f-e08cda0c0d4b.png)

[2017-04-18 21:03] mwasiluk commented on #98
Strange; Are there any errors in the console after page reload?

[2017-04-18 21:34] bkamins commented on #98
There are two warnings when the page loads:
[code]
but probably this is unrelated.

@pszufe Can you test it?

[2017-04-18 21:39] bkamins commented on #113
Under Edge validation also fails.

[2017-04-19 07:29] bkamins opened #114 "Add SA translation files"
I will add translations and correct description if tooltip in Probabilistic SA.

@mwasiluk just one question - please let me know if all new strings are in single internatiozalization file or there are several places where you have put them

[2017-04-19 08:45] mwasiluk commented on #114
Pivot table has own i18n mechanism. I've created pull request for missing polish locale 2 weeks ago:
https://github.com/nicolaskruchten/pivottable/pull/681

[2017-04-19 09:33] bkamins commented on #114
Apart from this are the only changes in `src/i18n`?

[2017-04-19 09:54] mwasiluk commented on #114
yes

[2017-04-19 10:33] mwasiluk commented on #113
It works for me under Edge.

[2017-04-19 10:58] bkamins commented on #98
It works under Chrome now so I am closing this and leaving #113 open.

[2017-04-19 10:58] #98 closed

[2017-04-19 11:06] bkamins opened #115 "SA: probabilistic list font size"
@mwasiluk can you decrease font size in drop-down list of probabilities? The list is very long, and on standard monitors its lower part goes below lower margin of a screen.

[2017-04-19 11:12] bkamins commented on #113
For me it does not work neither under IE nor Edge. I have pressed Ctrl-F5 :).
@pszufe please test error handling on your PC

[2017-04-19 13:03] mwasiluk commented on #113
should be fixed with 066175f

[2017-04-19 13:42] bkamins commented on #115
Still does not fit - but we can leave it :) - or maybe there is some way to fix it yet?.
Just please make the code box a bit wider and make sure that code does not overlap with an arrow and we can close it, see below (Poisson is truncated and arrow overlaps with code):
![image](https://cloud.githubusercontent.com/assets/6187170/25182955/8372ee38-2516-11e7-9b15-b912d18ad252.png)

[2017-04-19 13:45] bkamins commented on #113
OK

[2017-04-19 13:45] #113 closed

[2017-04-19 13:58] bkamins opened #116 "SA in IE"
@mwasiluk Unfortunately one more bug in IE:
![image](https://cloud.githubusercontent.com/assets/6187170/25183836/ff99f5e0-2518-11e7-9f75-19b4fba40f3a.png)

that happens for the following parameterization:
![image](https://cloud.githubusercontent.com/assets/6187170/25183802/e8ac4536-2518-11e7-9ae2-bced05ac8974.png)

[2017-04-19 16:03] bkamins commented on #115
OK

[2017-04-19 16:03] #115 closed

[2017-04-19 20:10] bkamins commented on #116
OK

[2017-04-19 20:10] #116 closed

[2017-04-23 15:53] #114 closed

[2017-04-28 21:27] bkamins opened #117 "MCDM: button tooltip"
Add proper tooltips to MCDM buttons.

PS. We will use MCDM when refering to #66, as it stands for Multiple Criteria Decision Making.

[2017-04-29 10:06] bkamins opened #118 "MCDM: vusial highlight of max-min and min-max"
We discussed that in drop down menu with rules min-max and max-min could be highlighted somehow (e.g. different color). Is this possible?

[2017-04-30 11:36] maciejkra opened #119 "Scrolling in left menu does not work on safari"
Left menu (Layout/details/Variables) in silver decision does not work on Safari browser.
It is particularly noticeable when user expands all of the menus and add a decision tree with many nodes.

[2017-05-03 19:53] bkamins opened #120 "MCDM: payoff description and display"
It should be possible to specify payoff format for criterion 1 and criterion 2.

I propose the simplest approach in `Settings`:
1. rename `Payoff number format` to `Payoff 1 number format`;
2. add `Payoff 2 number format` which should contain exactly the same data;
3. Payoff 1 should be used to display payoff 1;
4. Payoff 2 should be used to display payoff 2;
5. By default payoff 1 style should be

[2017-05-03 20:13] bkamins commented on #118
Following the discussion we will use the following design:

 1. Add `View` list on the left of `Rule` list. Currently `View` list should contain three values (in the future we might add other views):
    * `Criterion 1`
    * `Criterion 2`
    * `Two criteria`
2. By default value in `Value` field should be `Criterion 1`;
3. Choice of value in `Value` field should influence list of possible values

[2017-05-04 05:48] bkamins opened #121 "MCDM: display error on FireFox"
Dev of SD does not display properly on FireFox (reported by @pszufe and @michaljakubczyk).

[2017-05-11 20:31] bkamins commented on #121
@mwasiluk under FF also changing Layout does not work properly (you press a button and nothing happens)

[2017-05-11 20:46] bkamins commented on #66
@mwasiluk League table seems OK. @michaljakubczyk will do more extensive testing.

Comments:
1. csv should have names of the criteria in header (how has sth. like criterion1 and criterion2)
2. csv name should start with `leaguetable@...` - it would be more natural

[2017-05-12 09:09] bkamins opened #122 "Update developer documentation"
@mwasiluk low priority, but after 0.8 release it should eventually be done.

[2017-05-12 11:30] mwasiluk commented on #121
Which version of firefox / os ?

[2017-05-12 12:05] bkamins commented on #121
I have updated everything and it works on my PC now.
@pszufe & @michaljakubczyk please confirm that UI works for you and we can close this issue then.

This is the UI testing range (I am adding proposed testers):
* Windows: latest Chrome, latest FireFox, latest Edge, latest IE @pszufe @michaljakubczyk @bkamins
* Ubuntu: latest Chrome, latest FireFox @pszufe
* OS X: latest Chrome, latest FireFox @m

[2017-05-13 11:50] Ceiwark opened #123 "Problem with paste (ctrl+v)"
w trakcie tworzenia drzewa kopiowanie i wklejenie gałęzi spowodowało wywołanie błędu w postaci wklejenia zmniejszonych węzłów
![bug_obiekty](https://cloud.githubusercontent.com/assets/28671611/26025220/d48bc2ac-37e2-11e7-8918-a542ba6691cd.JPG)
wprowadzenie opisu/etykiety  gałęzi przywróciło normalną wielkość węzła końcowego.

[2017-05-13 11:57] pszufe commented on #123
Uprzejmie prosimy o informację o przeglądarce oraz o systetemie operacyjnym tak abyśmy mogli zreplikować ten błąd.

[2017-05-13 13:11] Ceiwark commented on #123
Firefox 53.0.2.Windows 10.

      Od: pszufe <notifications@github.com>
 Do: SilverDecisions/SilverDecisions <SilverDecisions@noreply.github.com>
DW: Ceiwark <ceiwark@yahoo.pl>; Author <author@noreply.github.com>
 Wysłane: 13:57 sobota, 2017-5-13
 Temat: Re: [SilverDecisions/SilverDecisions] Problem with paste (ctrl+v) (#123)

Uprzejmie prosimy o informację o przeglądarce oraz o systetemie operacy

[2017-05-13 13:15] bkamins commented on #123
@Ceiwark Czy po naciśnięciu Ctrl-F5 (to powinno wyczyścić cache przeglądarki) błąd ciągle występuje.

Przetestowałem `Ctrl-V` na dokładnie podanej konfiguracji i u mnie działa poprawnie - ale może być interakcja z jakimiś innymi komponentami.

[2017-05-13 13:24] Ceiwark commented on #123
Po wyczyszczeniu cache pojawiła się podobny problem (załącznik).
Być może jest to interakcja, ale z tego co wiem w grupie wystąpiły podobne problemy dla innych przeglądarek - być może też zgłoszą przez githuba, będzie większa próba :)

      Od: Bogumił Kamiński <notifications@github.com>
 Do: SilverDecisions/SilverDecisions <SilverDecisions@noreply.github.com>
DW: Ceiwark <ceiwark@yahoo.pl>; Ment

[2017-05-13 13:34] bkamins commented on #123
@mwasiluk The reported problems are with master release.

[2017-05-13 17:40] pszufe commented on #123
@mwasiluk I managed to replicate the bug on Windows 10 + Firefox 53.0.2.
The problem exists only when "Manual" tree layout is selected. Switching to "Cluster" or "Tree" layout mitigates the problem. Hence it seems to be some tree refreshing issue when a copy-paste operation is made under the "Manual" layout.

[2017-05-14 11:57] bkamins opened #124 "Leaguetable on Safari/OSx"
@mwasiluk below you have a link to error report from Safari/OSx that @michaljakubczyk gets when trying to test League Tble.
[lterror.txt](https://github.com/SilverDecisions/SilverDecisions/files/999307/lterror.txt)

[2017-05-15 11:01] bkamins opened #125 "Copy-paste failure"
A report from user:
[code]
I will try to get more details and then we can move forward with the issue.

[2017-05-16 22:16] bkamins commented on #123
@Ceiwark @pszufe Could you please check on `bogumilkaminski.pl/sddev/` if the problem is fixed.

[2017-05-16 22:26] bkamins commented on #118
@mwasiluk The only additional feature is "binding" of objectives in Criterion 1 and Criterion 2. What I mean is that if the first is maximized then the second must be minimized (and if the first is minimized the second must be maximized). The problem is that now when you change from Criterion 1 to Criterion 2 the objective remains unchanged and then when you go back to Two-criteria the criterion o

[2017-05-17 19:06] Ceiwark commented on #123
I confirm in the above location the problem has been resolved

[2017-05-17 20:09] bkamins commented on #123
Thank you!

[2017-05-17 20:09] #123 closed

[2017-05-17 20:37] bkamins commented on #120
Seems almost OK.
@michaljakubczyk also please check now on `sddev`.

One small issue: on terminal nodes zero probability in two-criteria display is not formatted properly (i.e. if we have dots as decimal separator then comma is presented), see below (indicated with red lines):
![image](https://cloud.githubusercontent.com/assets/6187170/26174970/60ad9366-3b51-11e7-96bb-8b10245ece1e.png)

[2017-05-17 20:44] ltomasMBA opened #126 "Labels/Etykiety"
W polskiej wersji językowej programu, użycie litery "ż" w opisie krawędzi automatycznie powoduje kasowanie węzła, do którego prowadzi ta krawędź.

[2017-05-17 20:48] bkamins opened #127 "MCDM: league table and plot fixes"
Highlighting of the policies in league table is slightly wrong. For example, consider a simple tree with just two simple decisions: effect=cost=1, effect=cost=2, and take “minimum range for WTP”=0.5. Both policies should be highlighted in the league table (as both may be optimal for some WTP from the range). Currently only the (2,2) policy is highlighted. It is correctly specified in the overleaf

[2017-05-17 20:52] bkamins commented on #126
Nie jestem w stanie reprodukować tego problemu (u mnie nie kasuje). Pracuję na Chrome+Windows 10.
Na jakiej przeglądarce i systemie operacyjnym ten problem wystąpił?

[2017-05-17 20:54] #121 closed

[2017-05-17 20:55] bkamins commented on #117
@mwasiluk I believe it is fixed (though not referenced anywhere :) in commits)

[2017-05-17 20:55] #117 closed

[2017-05-17 20:58] ltomasMBA commented on #126
Problem wystąpił firefox.
Nie wiem jak to się stało, ale 5 minut temu problem był – sprawdzałam dwa razy. W tej chwili jest ok.
Przepraszam za kłopot.

From: Bogumił Kamiński [mailto:notifications@github.com]
Sent: Wednesday, May 17, 2017 10:52 PM
To: SilverDecisions/SilverDecisions <SilverDecisions@noreply.github.com>
Cc: Lidia Tomaszewska <ltomas1@sgh.waw.pl>; Author <author@noreply.github.com>

[2017-05-17 20:59] bkamins opened #128 "Huge arrow on mouse over"
Currently when you move mouse over edge it grows enormously for a very short while.
Noticed on Chrome+Win10.

[2017-05-17 21:00] bkamins commented on #126
Nie ma problemu. Dziękujemy za sygnał 👍 . Sprawdzimy i tak.

[2017-05-17 21:05] bkamins opened #129 "Add MCDM translation files"
@mczupr @annawier Probably we will be going live with MCDM at the beginning of June and I will kindly ask you for standard translations :).

[2017-05-18 06:20] pppwieczor opened #130 "Graficzne zmiany w trybie Manual (layout)"
Przy pracy w trybie Manual (layout) podczas kopiowani, system zmienia wielkość węzłów.
![blad wklejania](https://cloud.githubusercontent.com/assets/28774441/26189017/c6788b8c-3ba2-11e7-9596-7af48f4cf5f2.png)

[2017-05-18 06:43] bkamins commented on #130
@pppwieczor Bardzo proszę sprawdzić, czy na stronie http://bogumilkaminski.pl/sddev/ też problem występuje (jest tam wersja rozwojowa aplikacji, w której problem powinien być rozwiązany). Proszę tylko o naciśnięcie <kbd>Ctrl-F5</kbd> po otworzeniu aplikacji SilverDecisions, żeby się przeładowała.

Jeśli problem nie występuje wtedy to proszę o potwierdzenie.
Jeśli występuje nadal to bardzo proszę o

[2017-05-18 07:10] pppwieczor commented on #130
Witam,

Tak, problem nie występuje. Super. Dziękuję.

Pozdrawiam / Best Regards

Paweł Wieczorek

Sales Director

tel.    +48 48 368 90 77

kom. +48 606 436 936

fax.   +48 48 368 90 10

Skype: pawel_trend_glass

TREND GLASS sp. z o. o.

ul. Zubrzyckiego 11, 26-600 Radom

NIP: 948-23-04-802   REGON: 672911706   KRS: 0000164723

Sąd Rejonowy w Warszawie, XIV Wydział Gospodarczy Krajowego

Rejestru

[2017-05-18 07:13] bkamins commented on #130
Dziękujemy!

[2017-05-18 07:13] #130 closed

[2017-05-18 18:40] bkamins commented on #127
Additional requirements (@pszufe please comment if I have missed anything):
1. add arrow showing direction of optimization (gradient: https://en.wikipedia.org/wiki/Gradient)
2. can we shade dominated region?
3. make dots on a plot a bit bigger
4. mark dot for optimal policy for default WTP in some way
5. in general improve look-and-feel of a graph (@pszufe please provide the recommendations :))
6.

[2017-05-18 19:00] bkamins commented on #118
# Major change of requirements
We shall add max-max and min-min objectives in two-criteria view.

Consequences:
1. On plot criterion 1 is on x-axis and criterion 2 on y-axis; in league table criterion 1 is always in column 3 and criterion 2 in column 4 (*this is a change as before maximized criterion was on x-axis and in column 3 always*)
2. Weight (currently called WTP) is always applied to crite

[2017-05-18 20:11] bkamins opened #131 "MCDM documentation"
@michaljakubczyk please add it to Wiki when we are finished with implementation.

[2017-05-19 06:01] bkamins commented on #118
@mwasiluk `incremental ratio` instead of `ICER` is confirmed.

One more comment for taking into account weight upper and lower bound in calculations:
1. always perform calculations on the whole range of weight from 0 to infinity
2. upper and lower bound are only used for display of potentially optimal values (if this is not clear call @michaljakubczyk and discuss with him).

Additionally `flip` op

[2017-05-19 14:37] KarolKosMBAVI commented on #126
oj,, ktoś słabo przetestował problem  :)

nie chodzi o literkę "ż"  ale o kombinacje klawiszy Prawy Alt + Z , która jest interpretowana dokładnie tak samo jak CTRL+ Z .

wiec kiedy zaraz po dodaniu noda wpisujemy "ż" w etykietę mamy efekt jak opisany w pierwszym poście , ale kiedy zrobimy klika ruchów , pododajemy  nody , opiszemy , i wtedy w dowolnym miejscu wciśniemy Prawy Alt + Z , program po p

[2017-05-19 14:44] ltomasMBA commented on #126
Tak, też pomyślałam, że chodzi o kombinacje klawiszy.
Coś się dzieje też przy literze „ć”, ale nie zabrakło mi czasu na prześledzenie tematu

From: KarolKosMBAVI [mailto:notifications@github.com]
Sent: Friday, May 19, 2017 4:37 PM
To: SilverDecisions/SilverDecisions <SilverDecisions@noreply.github.com>
Cc: Lidia Tomaszewska <ltomas1@sgh.waw.pl>; Author <author@noreply.github.com>
Subject: Re: [Sil

[2017-05-19 14:54] bkamins commented on #126
Super analiza. Dziękujemy.
Mamy wyzwanie takie, że utrzymujemy FF/Chrome/Edge/IE na Linux/OSx/różnych wersjach Windowsa.
To zachowanie, o którym piszesz, teoretycznie mamy obsłużone w kodzie JavaScript, ale widocznie FF na Win8.1 jego nie łapie.

[2017-05-19 14:57] bkamins commented on #128
@mwasiluk example:
![image](https://cloud.githubusercontent.com/assets/6187170/26253577/2ace50b4-3cb4-11e7-92fb-324e7034e731.png)

[2017-05-19 15:56] MarcelLee opened #132 "Flipping trees - not working"
option is disabled, when named edges are different order on two chance nodes
![screen](https://cloud.githubusercontent.com/assets/3586414/26256155/56d499ae-3cbc-11e7-9194-c0d659ae39c0.jpeg)

`{
  "SilverDecisions": "0.7.0",
  "buildTimestamp": 1492719501046,
  "savetime": "2017-05-19T15:53:52.970Z",
  "lng": "pl",
  "rule": "expected-value-maximization",
  "title": "",
  "description": "",
  "form

[2017-05-19 17:10] pszufe commented on #132
Dear MarcLee,

The tree flipping algorithm requires the labels of all child edges to have the same names and be in the same order.
On your graph the labels of possible results are (0, 1) for the upper chance node and (1, 0) for the lower chance node. Simply change the order of your terminal nodes on the lower chance node. The simplest way to do it is to change to "manual" layout and change the ord

[2017-05-19 18:00] pszufe commented on #127
7. Add a legend to the graph (for dot colors and the dominated region)

Ad.1- @bkamins - I would consider just a single arrow for each maybe of a red color. Additionally we can consider marking the ideal point on the graph (e.g. top-right corner for max-max or bottom-right for max-min etc)

[2017-05-19 21:09] bkamins commented on #127
Ad. 1 - I am indifferent. This a requirement brought by you from Dublin. Please choose what you feel most suitable. In what I have written I wanted a single arrow not a vector field.

[2017-05-19 21:11] pszufe commented on #127
Ad .1. Yes, single arrow. This is not requirement by ROUTE-TO-PA pilots, but for sure it will increase readibility for less experienced users (or less mathematic fluent citizens...)

[2017-05-20 11:09] KarolKosMBAVI commented on #126
litera "ć" ..
owszem dzieje się , ale jak przeczytacie poniżej , zachowuje sie jak zdefiniowany skrót klawiszowy ..
czy tak jest wedle zamierzeń autorów .. ?

kombinacja klawiszy Prawy Alt + C powoduje wstawianie węzła losowego w aktywnym miejscu.
czyli działa jako komenda która mamy pod Prawym przyciskiem myszy : "dodaj węzeł losowy"

jeśli zaznaczymy węzeł decyzyjny lub losowy i wciśniemy  Prawy

[2017-05-20 11:53] ltomasMBA commented on #126
To ja dorzucam jeszcze Windows10 do puli

From: Bogumił Kamiński [mailto:notifications@github.com]
Sent: Friday, May 19, 2017 4:55 PM
To: SilverDecisions/SilverDecisions <SilverDecisions@noreply.github.com>
Cc: Lidia Tomaszewska <ltomas1@sgh.waw.pl>; Author <author@noreply.github.com>
Subject: Re: [SilverDecisions/SilverDecisions] Labels/Etykiety (#126)

Super analiza. Dziękujemy.
Mamy wyzwanie ta

[2017-05-23 12:17] mwasiluk commented on #118
How should  "binding" of objectives work with min-min and max-max?

[2017-05-23 14:09] bkamins commented on #118
After the discussion we have the following rules.

Switch form 1 to 2 criteria: we simply read the direction of single criteria and map them to two-criteria case.

Switch form 2 to 1 criterion: we always map to `min` or `max` and we map two criteria (so the criterion that is not shown "remembers" what was selected in two-criteria case).

In particular when switching to two-cirteria we forget the "

[2017-05-23 20:33] TomaszStepien opened #133 "Problem with exporting to png"
When I exported my tree to png the background was black and the picture was not visible well

[2017-05-23 20:41] mwasiluk commented on #133
Could you please attach your exported image?
Exported png file is generated with the transparent background and some viewers may fill it with black color.

[2017-05-24 15:23] bkamins commented on #118
Minor issue: when flipping `1/[interval border]` sometimes gets formatted as e.g. `0.(6)`. @michaljakubczyk do we leave it as-is or round it?

[2017-05-24 15:27] bkamins commented on #127
Everything seems OK.
@pszufe do "gradient arrows" look as you wanted.
@mwasiluk no matter how "gradient arrows" should be drawn I would recommend to draw them with gray color and in the background (i.e. when there is a dot in the place of the arrow it should be over the arrow).

[2017-05-24 18:08] TomaszStepien commented on #133
![tomasz_stepien_decisiontree_1_2017 05 19_11 11 17](https://cloud.githubusercontent.com/assets/19878292/26418509/c5bf3de8-40bc-11e7-94a9-ed2c776f14ea.png)

[2017-05-24 18:10] TomaszStepien commented on #133
Ok, it does look normal here. So it must be Microsoft's fault. On windows and in Outlook preview it looks like this:
![image](https://cloud.githubusercontent.com/assets/19878292/26418573/febbc88c-40bc-11e7-866d-c952e51fa7aa.png)

[2017-05-24 18:29] bkamins commented on #133
Yes - this is a preview issue. Thanks anyway :).

[2017-05-24 18:29] #133 closed

[2017-05-24 21:48] pszufe commented on #133
Just to have more detailed explanation for other users.
SilverDecisions saves PNG files with a transparent background. This is a very convenient if a tree image needs to be placed in some other document (e.g. a web page).
Since the background is transparent different software can represent it in different ways - in most applications (e.g. MS Word, Microsoft Paint) the backgrounds color is displaye

[2017-05-24 21:57] pszufe commented on #127
I really like it :-) Minor comments:
1. The line spacing between cost and effect for terminal nodes should be 2px bigger
(it's 2px bigger in all other places)
2. The criterion names are not being saved to the JSON file (try changing criterion names, saving & reloading)
3. We need to add explanation to the legend (@bkamins comment on those names):
  grey rectangle - dominated region
  -->  - desire

[2017-05-25 05:53] bkamins commented on #127
arrows indicate improvement direction
grey area highlights dominated region

additionally @mwasiluk there is this issue with black points (they appeared on wrong JSON, but they might pop up in the future) - they are currently undocumented; could you pls. comment on them?

[2017-05-25 07:09] JanuszSz opened #134 "Reaction of the program to changes in the tree are delayed"
The problem with tree construction - the reaction of the program to changes in the tree are delayed.
Such situations occur when the operating memory is overloaded or the information packets are lost in the transmission to the server.
Suggestion: separate the optimization algorithm from the module of construction and tree change.
Startup optimization should be done by clicking the "execute" button

[2017-05-25 07:19] bkamins commented on #134
@JanuszSz Thank you for the comment. We would gladly correct it, but please indicate at what actions the reaction is delayed (adding new node, editing data in the node, does it happen for any trees or only for large tress, etc.).

I am asking because (@mwasiluk - please correct me if I am wrong):
* optimization module is already separated form tree construction module;
* no transmission of the dat

[2017-05-25 07:30] JanuszSz commented on #134
blockquote {padding-left: 1ex; margin: 0px 0px 0px 0.8ex; border-left: #cccccc 1px solid;} p {margin: 0px;padding: 0px;}
Added picture.
Pozdrawiam _ Janusz

[2017-05-25 07:37] bkamins commented on #134
Could you resend the picture please, because it did not paste correctly.

[2017-05-25 07:38] JanuszSz commented on #134
@bkamins
adding new node, moving trees
any tress (I have made small trees)
@mwasiluk
Optimization is working before I finished the tree. I do not decide to start the mode of optimization but the program. In this way, it is the program activity mode (optimizing), what is unnecessary use of operating memory.

[2017-05-25 07:55] bkamins commented on #134
@mwasiluk in application add a button that disables automatic recalculation of the tree (useful when the tree is being designed). When disabled "raw" view should be presented.

[2017-05-25 07:55] bkamins commented on #134
@mwasiluk actually - maybe current "raw" view could simply disable recalculation?

[2017-05-25 12:19] mwasiluk commented on #127
@bkamins From overleaf specification:

Dot colors are configurable in settings

[2017-05-25 16:15] bkamins commented on #127
OK

[2017-05-25 21:32] bkamins commented on #120
OK

[2017-05-25 21:32] #120 closed

[2017-05-26 16:06] bkamins opened #135 "MCDM: fix file save/load"
@mwasiluk per e-mail from @michaljakubczyk saving and loading files in MCDM works incorrectly.

[2017-05-26 17:48] bkamins commented on #135
@michaljakubczyk updated version is on dev. please check if it is ok now.

[2017-05-26 17:49] bkamins opened #136 "Propagation of variable values"
Sometimes defined variables do not propagate down the tree (see e-mail from @michaljakubczyk). Recompute fixes the issue, but they should propagate without recompute.

[2017-05-27 07:49] bkamins commented on #135
fixed

[2017-05-27 07:49] #135 closed

[2017-05-27 07:51] bkamins opened #137 "MCDM: identification of dominated strategies"
Per email from @michaljakubczyk current functionality sometimes produces wrong results. Policy 6 is handled in a wrong way.
![image](https://cloud.githubusercontent.com/assets/6187170/26519482/e94772e2-42c1-11e7-9f0d-e9c0ed8e0cab.png)

[2017-05-27 07:53] bkamins commented on #118
We leave `0.(6)` as OK.

[2017-05-27 07:53] #118 closed

[2017-05-27 07:53] #132 closed

[2017-05-27 07:57] bkamins commented on #126
@ltomasMBA @KarolKosMBAVI
Hopefully :), it should be fixed now. Could you please have a look at development version http://bogumilkaminski.pl/sddev/SilverDecisions.html

[2017-05-27 11:46] bkamins commented on #137
@mwasiluk This fix introduces a regression error, when upper bound is changed to `Infinity`:
![image](https://cloud.githubusercontent.com/assets/6187170/26521183/ddb738f6-42e2-11e7-83b1-741c9480e4cd.png)

[2017-05-27 11:48] bkamins commented on #137
Additionally SD should check if `lower bound<upper bound` and indicate an error then, otherwise nonsense results can be produced.

[2017-05-27 21:22] bkamins commented on #137
All seems OK now. @michaljakubczyk please double check.
One small UI improvement (in three fields where weight is provided):
* incorrect input in sometimes makes red underline (e.g. `-1`), but sometimes not e.g. `0fsdfsd1`; in the latter case it should also be underlined and `show league table` should be disabled; also flipping should be disabled, because after it is clicked two or three times it

[2017-05-29 07:34] bkamins commented on #136
@michaljakubczyk I have updated dev version of SD that should solve this. Could you please check and let me know.

[2017-05-29 18:33] bkamins commented on #66
closing it - we have the functionality, now we just need to clean up rough edges

[2017-05-29 18:33] #66 closed

[2017-05-30 20:48] bkamins opened #138 "Colon hangs SD"
The following variable definition
[code]
hangs SD.

@mwasiluk apart from fixing it I am curious why :).

[2017-05-30 20:48] bkamins commented on #138
This is an invalid definition but it should not hang SD but simply be an error

[2017-05-30 21:02] bkamins commented on #137
Still we have a slight problem with gray area when lower and upper bounds are extreme:
![image](https://cloud.githubusercontent.com/assets/6187170/26604865/04b40eec-458c-11e7-9693-2a8bd6cc7ec0.png)

[2017-05-30 21:30] bkamins commented on #138
OK - actually it is a feature, but it generates large output. I will add it to docs

[2017-05-30 21:30] #138 closed

[2017-05-31 21:03] bkamins commented on #127
OK

[2017-05-31 21:03] #127 closed

[2017-05-31 21:10] bkamins commented on #137
@michaljakubczyk in implementation we assume that weight larger than `9'999'999` is the same as infinity for plotting gray area.
@mwasiluk I am accepting this for `0.8` to move forward but we should fix it properly in the future, so I keep the issue open as hotfix enchancement.

[2017-05-31 21:11] bkamins commented on #136
@michaljakubczyk what is the status of this issue?

[2017-05-31 21:11] bkamins commented on #124
@michaljakubczyk do we still get this error?

[2017-05-31 21:24] mwasiluk commented on #124
I'm testing this now on osx sierra on virtualbox, and it's working (at least for simple trees) and there are no errors in the safari console,  but the plot legend is missing.
![sd-osx-sierra](https://cloud.githubusercontent.com/assets/1236142/26654740/352ad39a-4658-11e7-874b-ad40c2b704f8.PNG)

[2017-06-01 08:43] bkamins commented on #126
@pszufe: could you please check if it works OK on dev now?

[2017-06-01 13:16] michaljakubczyk commented on #136
seems not to be working :(
here's what I do:
1. I create a tree: a chance node, leading to two chance nodes, each
leading to two terminal nodes
2. I name two first branches as x, y
3. I name the branches in two deeper pair of branches as a, b
4. I flip the whole tree
5. I create (global scope) p parameter, p=0.6
6. I replace the probability in the first chance node in the upper branch
with p; I ch

[2017-06-01 13:22] michaljakubczyk commented on #124
yes :(

From: Bogumił Kamiński [mailto:notifications@github.com]
Sent: Wednesday, May 31, 2017 11:12 PM
To: SilverDecisions/SilverDecisions <SilverDecisions@noreply.github.com>
Cc: michaljakubczyk <michal.jakubczyk@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [SilverDecisions/SilverDecisions] Leaguetable on Safari/OSx (#124)

@michaljakubczyk <https://github.com/michaljakubczyk>

[2017-06-01 13:36] bkamins commented on #136
The probability propagates on my laptop, but payoff is corrupted:
![image](https://cloud.githubusercontent.com/assets/6187170/26682224/f9e1d0f8-46df-11e7-8385-131debbd55bf.png)

@mwasiluk what is this `undefined` in payoff?

[2017-06-01 13:38] bkamins commented on #136
In general `flip subtree` is now broken - even without variables.

[2017-06-01 13:48] pszufe commented on #126
I have checked on dev and now it works correctly:
- when a node is only selected (r-Alt+C inserts a chance node)
- when node label editing is selected Alt-C inserts the Polish c-acute "ć" character but new chance node is not added -> that is the desired behavior.
Hence I can confirm that it is working (compared to the production version where I easily managed to replicate the wrong behavior)

Test

[2017-06-01 13:50] bkamins commented on #126
Thank you!

[2017-06-01 13:50] #126 closed

[2017-06-01 14:25] mwasiluk commented on #136
I have forgotten to update flip operation with mcdm. We need more regression tests to catch this kind of issues.

[2017-06-01 14:28] mwasiluk commented on #124
which version of os x / safari?

[2017-06-01 14:31] mwasiluk commented on #124
I've tested it it on Safari version 10.0 (12602.1.50.0.10)

[2017-06-01 15:09] bkamins opened #139 "Improve regression testing for SD"
Currently we have the following testing procedure:
* limited automatic tests located in `test` directory
* release testing procedure described in https://github.com/SilverDecisions/SilverDecisions/wiki/Developer's-guide

We have reached the level of complexity of SD that we need better unit and regression testing.

@pszufe please take the lead in defining the improved test workflow for SD. I will

[2017-06-01 15:17] mwasiluk commented on #139
First of all we need more automated unit tests, e.g. for jobs (like sensitivity analysis, league table) and for all types of operations like tree flipping, node injection etc.

[2017-06-01 15:25] bkamins commented on #136
@mwasiluk weight flipping works OK, but payoff flipping is broken.
Take the following tree:
[test.txt](https://github.com/SilverDecisions/SilverDecisions/files/1045259/test.txt)
and flip it twice (which should get you back to the start).
Also you can see that after one flip aggregated payoff is wrong.

[2017-06-01 15:27] bkamins commented on #139
yes, and we need to define some automated testing API.

[2017-06-01 18:00] bkamins commented on #136
OK

[2017-06-01 18:00] #136 closed

[2017-06-01 20:50] pszufe commented on #139
The initial recommendation: Serenity on top of Selenium and Webdriver
http://thucydides.info/docs/serenity-staging/
all is Open Source

[2017-06-01 21:20] bkamins commented on #139
Great. The action plan is that during June @pszufe should discuss with @mwasiluk the tools, process, roles and responsibilities in testing (of with automated testing is a part). We will start implementing it in July.

[2017-06-03 08:33] michaljakubczyk commented on #124
I used Safari 10.1 (12603.1.30.0.34)

However, league tables work on Mac on Firefox 53.0.3 (64 bity)

[2017-06-05 12:44] skyboyer opened #140 "ability to merge branches"
There are some cases when two different decision branches should be merged: say several flows has common part or even making decision should result in the same action(but one of alternatives need additional action or decision is made).

Currently it cannot be implemented explicitly. Common parts have be just copied between different branches.

[2017-06-05 12:56] bkamins commented on #140
@skyboyer Thank you for your comment. Unfortunately this is the restriction that we have to have if we want other functionalities of SilverDecisions to work.
Most importantly we allow users to define variables in nodes. If one node had two parents and if in those two parents a different value for the same variable would be defined then it would be problematic which value should the variable have i

[2017-06-05 12:56] #140 closed

[2017-06-10 16:48] #131 closed

[2017-06-10 16:48] #129 closed

[2017-06-30 16:49] olymrtnz opened #141 "Mobile Device Support: Right Click Function."
Add a function to support mobile device's right click. It can be done by long pressing

[2017-06-30 16:57] bkamins commented on #141
What OS and browser are you using?
This is exactly what we have implemented.
It should work under Chrome on Android.

[2017-06-30 19:04] olymrtnz commented on #141
Hello,

Thanks for the reply! I've used Safari, Chrome and even Firefox on the
mobile device, but none seem to work. I've tried long pressing but the menu
does not appear, but works perfectly on desktop.

Kind regards,.
Oliverio

On Fri, Jun 30, 2017 at 9:57 AM Bogumił Kamiński <notifications@github.com>
wrote:

[2017-06-30 20:13] bkamins commented on #141
But please tell me what OS are you on. We do not support OSx, but on Android it should work (and we will investigate it).

[2017-07-01 19:04] olymrtnz commented on #141
Okay, could you point me to the code where support from Android chrome was added please:)

[2017-07-01 19:44] bkamins commented on #141
https://github.com/SilverDecisions/SilverDecisions/blob/9383777f3f324bca04c314987a4fff8ff3791ccc/src/tree-designer/tree-designer.js
`Hammer.press` actions; @mwasiluk - please confirm if there is something more to comment on here as you have implemented it.

[2017-07-04 07:20] bkamins opened #142 "Tree cloning functionality"
Allow to clone a subtree and inject it into another part of the tree.
The clone does not have to be displayed.
The clone only reuses structure of the original tree, not the data.

[2017-07-04 07:21] bkamins commented on #142
Clone is not editable.

[2017-07-04 07:28] bkamins opened #143 "Add new type of terminal node: markov"
Add Markov terminal node type.

@michaljakubczyk please define specification of this type of terminal node before implementation.

[2017-07-04 07:50] bkamins commented on #139
The decision is that in the first step we will develop unit tests to improve test code coverage.
We can use standard GitHub integrations to https://coveralls.io or https://codecov.io or both.

[2017-07-09 15:39] bkamins opened #144 "PSA regression"
PSA stopped working after last release:
![image](https://user-images.githubusercontent.com/6187170/27995382-94d1b208-64cd-11e7-9acf-7b533b9c282d.png)

[2017-07-12 14:15] bkamins commented on #144
OK. When we fix all other small issues let's make 0.8.1 release

[2017-07-12 14:15] #144 closed

[2017-07-14 15:38] michaljakubczyk commented on #100
A question (or a suggestion, if the answer is no): will the user be able to import several grids, name them, and then refer to the one she needs?

[2017-07-14 16:08] bkamins commented on #100
I would assume that it could be done. The question is how critical this functionality is and if the copy-paste approach is useful?

[2017-07-14 16:51] michaljakubczyk commented on #100
Not too important. A nice-to-have feature, simply. Useful when you want to use, e.g., life tables as input parameters and change the starting age of a patient modelled in a tree. Or if you want to change the transition probability matrix in Markov node (if we add this type, see other issue) with cycle number.

[2017-07-14 16:52] michaljakubczyk commented on #100
The copy-paste approach seems convenient enough to me.

[2017-07-14 16:59] bkamins commented on #100
OK. We schedule it as low-priority with ability to define multiple workbooks.
Currently I am thinking of implementation of this as a matrix with access like `workbook[x,y]` - the only thing we would need to do is to add format converter or custom parser of pasted text (I will discuss it with @mwasiluk).

[2017-07-14 17:10] michaljakubczyk commented on #143
I have the following idea. Please comment.

The user can add a new type of node – Markov chain (say, marked as hexagon with M letter inside. No children can be added to an M-node.

When the user clicks on the M-node no connections are displayed in the left panel. Instead, the user should be able to open a dialogue box defining the Markov node.

In the dialogue box the user first specifies the numb

[2017-07-14 17:30] michaljakubczyk commented on #67
Having considered the expected value of (perfect, imperfect) information (EVPI, EVII) issue, I think we should either skip it (it is for teaching mostly) or do it in a simplified way, EVPI only. There are two possible (not exclusive) approaches.

1.	Calculate the EVPI for a single chance node only. When the user right clicks on a chance node, C, the option “Calculate the EVPI of this uncertainty”

[2017-07-15 06:21] bkamins commented on #100
@mwasiluk

Formalizing:
1. user is in `Variable definitions` dialog.
2. user starts writing `x = `
3. we add at the bottom `view module` material icon; when pressed another dialog is opened
4. it has text area - it allows editing or pasting text like
[code]
5. then at the bottom there is a checked list of separator characters (like in excel): space, tab, comma, colon, pipe (exact list TBD); and an

[2017-07-15 06:30] michaljakubczyk commented on #100
I'm just worried about such variables taking up too much space in "Variable definitions". If a variable is a matrix, perhaps we could only indicate it there with x = [...], and only allow viewing details when the view module icon is pressed? Otherwise, looks fine.

[2017-07-15 10:33] fjdiez opened #145 "URL does not work when JSON file is in my server"
I created a tree with SilverDecisions and put it in my server, but it does not work: the icon keeps moving for ever, instead of showing the tree:
http://www.silverdecisions.pl/SilverDecisions.html?LOAD_SD_TREE_JSON=http://www.cisiad.uned.es/misc/decisiontree-decide-test.json

Thinking the problem might be in my tree, I downloaded a file from SilverDecisions's Gallery, but it does not work either:

[2017-07-15 10:51] pszufe commented on #145
Hi fjdiez,

By default a web browser does not allow to open files from a different server.
Hence, the error you get is probably:
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource

First option for you is to checkout SilverDecisions and to copy SilverDecisions.html along other files to the same server where you are hosting the JSON files and then use your we

[2017-07-15 12:28] bkamins commented on #145
@pszufe I believe that the issue is that @fjdiez uses *http* not *https* protocol.
@fjdiez - could you please check if SilverDecision works if you serve your files via *https* (this is the way we serve it from gallery)?

[2017-07-15 12:46] bkamins commented on #100
Let's go this way.
To be precise:

1. In variable definitions dialog we show everything always.
2. In left pane:
    * Code section: if total number of code characters is more than than 300 characters then code editing is disabled and instead info "Long code. use *Open dialog* to edit" is printed. A particular case is when someone is editing code - then we do not allow to enter more than 300 chara

[2017-07-15 12:47] bkamins commented on #142
@mwasiluk Is it safe to implement this functionality?

[2017-07-15 12:53] bkamins commented on #67
we will go for option 1, but I remove it from release 0.9 to hotfix - we have more pressing functionalities

[2017-07-15 16:12] bkamins commented on #145
@fjdiez After investigation of the problem we will have to reconfigure hosting of SilverDecisions. We will let you know when it is done.

[2017-07-15 16:27] bkamins commented on #143
Having read the specification I would not implement it in SilverDecisions.
The functionality is completely orthogonal do decision trees.

However, we could develop a separate application for such calculations:
It could be a web application / excel file / R script - TBD (but as a separate project)
When we have it we can consider integrating it with SilverDecisions.

@michaljakubczyk @pszufe please

[2017-07-15 16:48] pszufe commented on #143
In later versions we should create some plugin architecture that enables terminal nodes.
Two plugin types could be considered:
- internalized GUI plaguns build with HTML+JavaScript
- externalized plugins enabling connection to external datasources with uncertainty. Preferably this could be done through a RESTfull API.

[2017-07-15 16:52] bkamins commented on #143
@pszufe This is a general approach for the future. But how do you see current plan. Do you agree with me (create a separate project and consider integrating with it later) or want to have it as a part of SD?

[2017-07-15 17:55] michaljakubczyk commented on #143
let's skip it for now, then, and maybe come back to it as a separate project

[2017-07-15 19:42] #143 closed

[2017-07-15 20:46] pszufe commented on #145
@fjdiez seems all you need to do is to add a `.htaccess` file to the folder that you are hosting your `*.json` files. The contents of the `.htaccess` should be following:

`
Header set Access-Control-Allow-Origin "*"
`

Please note it will only work when your web-server administrator has enabled Header module. If not they should run on their server `sudo a2enmod headers && sudo service apache2 res

[2017-07-15 21:35] bkamins commented on #145
@fjdiez We have tested it and it works on our tests. Does it solve your issue?
(please note that CORS policy will not allow SilverDecisions to access your file unless you tell your web serwer that this is OK)

[2017-07-16 07:24] michaljakubczyk opened #146 "Error when opening a tree with hidden probabilities and currency symbol"
What I did:
1. start with new window
2. add a decision node
3. add a single terminal node
4. open Settings
5. set pay-off 1 to decimal
6. select other to hide probabilities
7. close Settings
8. save the file
9. try to open the file - failed ("Error while drawing diagram!")

(Windows, Firefox)

[2017-07-16 12:39] bkamins commented on #146
under Windows/Chrome everything was OK.
But the same JSON under FF does not load.
I attach the file [load_error.txt](https://github.com/SilverDecisions/SilverDecisions/files/1151013/load_error.txt).

[2017-07-16 12:44] bkamins commented on #125
@mwasiluk any clue about the reason. If not I will close it as I am unable to reproduce it.

[2017-07-16 12:45] bkamins commented on #124
@mwasiluk we should look at it pretty soon - and either fix it or determine on which browser/OS combinations it fails.

[2017-07-16 12:46] bkamins commented on #99
@mwasiluk I would want to have it in 1.0. If it is difficult we will move it beyont 1.0 to unscheduled, so please let me know how you see it.

[2017-07-16 16:15] bkamins opened #147 "Fix policy highlighting in MCDM"
Explanation in e-mail from @michaljakubczyk.

[2017-07-17 19:37] bkamins commented on #100
After discussion with @pszufe we are moving it beyond 1.0 as I understand that there is a lot of work till 1.0 milestone.

Additionally the functionality of tabular data importer is orthogonal to SD, and we can have it as a separate project integrated with SD later (just like Markov). The only thing within SD to be changed is limits of views of code in left pane, but it can wait after 1.0.

[2017-07-17 20:12] mwasiluk commented on #128
I'm unable to reproduce this issue.

[2017-07-17 20:14] mwasiluk commented on #134
Automatic recalculation should be now disabled in "raw" mode.

[2017-07-17 20:22] mwasiluk commented on #125
I cannot reproduce it. Maybe it's browser related?

[2017-07-17 21:14] #125 closed

[2017-07-17 21:16] #134 closed

[2017-07-17 21:17] bkamins commented on #128
I leave this open, but let's move on to other issues. Maybe it will be possible to hunt down the reason in the future.

[2017-07-18 05:43] bkamins commented on #119
@michaljakubczyk can you please test it on http://bogumilkaminski.pl/sddev/? It should work OK.

[2017-07-18 08:14] fjdiez commented on #145
Dear SilverDecision developers,

I thank you for your efforts to solve this issue. When our web administrator is available, I will ask him to make the changes you propose and I will let you know about the result.

Best wishes
   Javier

[2017-07-18 10:53] #145 closed

[2017-07-20 06:45] bkamins commented on #146
@mwasiluk The problem persists. I have created a file under Chrome and it does not open under FF.

[2017-07-20 14:21] mwasiluk commented on #146
Are you sure? Can you send me this savefile?
If you have tested it here http://bogumilkaminski.pl/sddev/SilverDecisions.html it looks like the app wasn't updated (build 1499864254225 vs 1500502714910)

[2017-07-20 15:24] bkamins commented on #146
OK

[2017-07-20 15:24] #146 closed

[2017-07-20 18:02] mwasiluk commented on #124
I  have a problem with reproducing this issue on virtual box

[2017-07-20 18:21] bkamins commented on #124
@mwasiluk please discuss it with @michaljakubczyk tomorrow in the morning.

[2017-07-23 18:33] michaljakubczyk commented on #137
looks fine to me!

[2017-07-23 20:46] bkamins commented on #137
Have you tested huge weights (beyond `9'999'999`).

[2017-07-23 22:08] bkamins opened #148 "N-way sensitivity display"
@mwasiluk I have two questions concerning N-way display in tables given below. First please answer if it is fixable or we have to live with it.

1. why "Table Barchart" plot is plotted from 0 to max value? I would prefer it plotted from min to max value (problems: a) if there are negative payoffs they are plotted as 0 as they are truncated, b) if there are payoffs e.g. in range 1000 to 1010 every

[2017-07-24 06:45] #147 closed

[2017-07-24 06:50] bkamins commented on #137
Works OK

[2017-07-24 06:50] #137 closed

[2017-07-27 14:58] mwasiluk commented on #148
I have corrected heatmap coloring, but it seems that bar chart can be only plotted from 0 to max value. There is no customization point provided for changing this behaviour
https://github.com/nicolaskruchten/pivottable/blob/master/pivot.coffee#L1090

[2017-07-27 17:39] bkamins commented on #148
now we have the following scaling:
* negative values: blue to white
* positive values: white to red

This means that if we have only positive values they are plotted from white to red.
If we have negative and positive they are plotted blue-white-red.

I do not have strong preference but I want this decision to be explicit.

@michaljakubczyk is this what we want (or we want to always have blue-whit

[2017-07-28 05:53] bkamins commented on #148
The decision is:
* make heatmap colors aways use full colormap (0 should not be treated in a special way)
* the colormap used should be *plasma* from https://matplotlib.org/users/colormaps.html

@mwasiluk is this possible and relatively simple? If not we can leave it as is. Please comment.

[2017-07-28 18:06] mwasiluk commented on #148
D3 has builtin support for some color scales, plasma included.
https://github.com/d3/d3-scale#sequential-scales

[2017-07-28 18:11] mwasiluk commented on #148
Maybe we should select some lighter color scheme?
![screenshot from 2017-07-28 20-09-02](https://user-images.githubusercontent.com/1236142/28730560-fa6f160c-73d0-11e7-947e-238e888f697f.png)

[2017-07-28 18:25] mwasiluk commented on #148
For comparison:

Warm
![interpolatewarm](https://user-images.githubusercontent.com/1236142/28730951-43e745f6-73d2-11e7-984e-0571f062111f.png)

Cool
![interpolatecool](https://user-images.githubusercontent.com/1236142/28731097-d4d02b50-73d2-11e7-80f9-979ea207f6e7.png)

[2017-07-28 18:35] mwasiluk commented on #148
Previous scheme with white for the middle value, not for 0
![bwr](https://user-images.githubusercontent.com/1236142/28731421-22c19816-73d4-11e7-8606-1e7f943938f3.png)

[2017-07-29 11:52] mwasiluk commented on #148
I have found an open issue in pivot.js with pr regarding negative values in the barchart. https://github.com/nicolaskruchten/pivottable/issues/644

[2017-08-08 19:47] bkamins commented on #148
OK

[2017-08-08 19:47] #148 closed

[2017-08-09 10:02] bkamins opened #149 "SA - Spider plot fixes"
@mwasiluk What needs to be fixed:
1. title of plot should give policy name (like in Tornado)
2. `range length` parameter should be "one way" and positive, so that if we give it value `n` actually `2n+1` values are calculated

[2017-08-09 10:05] bkamins opened #150 "SA - Tornado plot fixes"
@mwasiluk When selected variable has no influence on the payoff wrong plot is generated (it should show some value and range on X-axis => now we get nothing):

![image](https://user-images.githubusercontent.com/6187170/29116386-e3ef5bf2-7cfa-11e7-8512-a3755b51cabd.png)

[2017-08-09 12:45] bkamins commented on #150
@michaljakubczyk @pszufe
Additional requirements:
* show variable range by variable name
* change 'high' and 'low' to 'increase' and 'decrease'
* remove numbers from bars
* change labels to "+/- percentage change to consider” and „number of values to test (in one side of range)"
* show value of global scope of variables in range definitions
* add xlabel on the plot: "payoff"
* show spider plot bel

[2017-08-09 12:47] bkamins commented on #149
@michaljakubczyk @pszufe
Additional changes:
* change labels to "+/- percentage change to consider” and „number of values to test (in one side of range)"
* show value of global scope of variables in range definitions
* add ylabel on plot named "payoff"

[2017-08-09 12:48] bkamins commented on #68
I close this as it is covered more precisely in #149 and #150 now.

[2017-08-09 12:48] #68 closed

[2017-08-09 13:21] pszufe opened #151 "Variable definitions - add a current variable namespace scope label"
In the "Variables" tab a user is not being informed whether edited variables are within a global or a local variable scope. This might be specially confusing when user accidentally selects or deselects a node in the tree.

A small scope-dependent label could be a very nice improvement:

- When editing global scope variables under the "code" label add a text "(global variable scope)".
- When editin

[2017-08-09 13:51] bkamins commented on #151
@mwasiluk To make the naming more consistent maybe better would be:
`variables scope: global`
and
`variables scope: node and subtree`
?

[2017-08-09 14:14] pszufe commented on #151
@bkamins - I would consider adding the word *selected*
`variables scope: global`
and
`variables scope: selected node and subtree`

[2017-08-10 05:14] bkamins commented on #149
OK

[2017-08-10 05:14] #149 closed

[2017-08-10 05:30] bkamins commented on #150
@mwasiluk Still to fix:
1. if you add more than one variable then their ranges are mixed up (wrong mapping of ranges to variables is presented) - probably range labels are not sorted.
2. add restriction that min<default<max (now default can be anywhere and it looks silly)

[2017-08-10 09:49] bkamins opened #152 "SA parameter reset"
SA parameters do not reset after a new tree is defined.
I.e.:
1. define a tree and variables
2. run SA with those variables
3. remove the variables (or make a new diagram)
4. start SA - old variables are retained and SA can be run

Solution: SA should validate before opening a dialog if the variable is still defined in global scope. If not it should be removed.

[2017-08-10 09:53] bkamins opened #153 "SA parameter removal"
I had two parameters in SA: R1 and R2. I have removed R1 and want to remove R2, but `-` sign on the right has disappeared:

![image](https://user-images.githubusercontent.com/6187170/29165300-8846cac4-7dc2-11e7-9bb8-c7dd4b07cb69.png)

[2017-08-10 09:57] mwasiluk commented on #153
It's not a bug, it's intended behaviour ;)

[2017-08-10 10:35] bkamins commented on #153
OK - now I understand.
`R2` was left due #152 and that is why I thought it was wrong :).

[2017-08-10 10:36] #153 closed

[2017-08-11 05:36] bkamins commented on #150
OK

[2017-08-11 05:36] #150 closed

[2017-08-11 05:39] bkamins opened #154 "SA: policy preview"
In SA policy preview not whole subtree is highlighted (in green by default), but only the edges going out from decision node. See below that edges from chance node (that are optimal) are not highlighted.

![image](https://user-images.githubusercontent.com/6187170/29202398-11886c2a-7e68-11e7-90c9-223912f82cd3.png)

I thought that the whole optimal subtree should be highlighted.
@mwasiluk: if there

[2017-08-13 19:00] bkamins opened #155 "Update docs after 0.9 release"

[2017-08-14 20:06] mwasiluk commented on #154
It was intentional. Should be correct now.

[2017-08-14 21:21] bkamins commented on #154
OK

[2017-08-14 21:21] #154 closed

[2017-08-14 21:34] bkamins commented on #152
Still something is bugging this.

1) I have defined variable `y` and run SA
2) Then I have added variable `x` and opened dialog, it did not appear (although you can see on the right that it was evaluated)
![image](https://user-images.githubusercontent.com/6187170/29292670-40e06d3c-8148-11e7-86b0-f036ed9ca8ac.png)
3) I have closed and opened dialog, `x` was available
4) I have removed variable `y`

[2017-08-15 05:56] bkamins commented on #151
@mwasiluk I have uploaded it but cannot see the change. It seems as if `docs` directory were not built.
Additionally the same labels could be shown in *code definition dialog*.

Now it has header `Variable definitions` and it could be:
* `Variable definitions: global scope`
* `Variable definitions: selected note and subtreee scope`

[2017-08-15 21:54] bkamins commented on #151
OK

[2017-08-15 21:54] #151 closed

[2017-08-16 06:43] bkamins commented on #152
One thing missing:
* Clicking "New diagram" or "Open existing diagram" should wipe everything from all tabs in SA settings;

The second thing is a feature I can accept, but probably it is a result of a bug (we will discuss if we want to keep it when we see):
* define variable `x`
* use it in SA
* change tab in SA definition to other tab where `x` was used
* remove definition of variable `x`
* open

[2017-08-16 06:45] bkamins commented on #152
One thing - regarding save/load - of course the SA settings should be saved and loaded properly.

[2017-08-17 17:32] bkamins commented on #152
OK

[2017-08-17 17:32] #152 closed

[2017-08-17 17:36] bkamins opened #156 "it and fr translations for 0.9"
It will be updated as hotfix.

[2017-08-17 17:39] bkamins opened #157 "Prepare splash for version 1.0"
Per our discussion - temporary splash for main screen.

[2017-08-27 20:33] #156 closed

[2017-08-27 20:37] #155 closed

[2017-09-07 17:25] bkamins commented on #99
Looks OK.
@pszufe please test it on dev. If you confirm it is OK we can close this issue.

One small issue (but we can leave it as is):
* have a tree with a subtree
* fold a subrtee
* fold whole tree
* unfold while tree

as a result subtree is unfolded.

It is OK for me, but I want to make sure that it was indented - not some kind of bug.

[2017-09-07 17:32] mwasiluk commented on #99
It was intended

[2017-09-23 07:55] bkamins commented on #99
@pszufe also text labels introduced by this feature should be translated to all available languages as we have discussed.

[2017-11-02 21:11] mwasiluk commented on #99
I18n files related with the tree designer are now located in the module sd-tree-designer/src/i18n

[2017-11-06 09:33] bkamins opened #158 "Large font display"
When font size is increased the text on terminal nodes overlaps. Here is an example:
![image](https://user-images.githubusercontent.com/6187170/32434269-ea90a4f6-c2dd-11e7-8645-10aa6fbdf3a7.png)

[2017-11-06 10:43] bkamins opened #159 "wrong display of league table"
[decisiontree@2017.11.06_10.25.25.txt](https://github.com/SilverDecisions/SilverDecisions/files/1445894/decisiontree.2017.11.06_10.25.25.txt)

The attached file generates such a plot:

![image](https://user-images.githubusercontent.com/6187170/32437424-99bbdd0c-c2e7-11e7-94ed-3604d187a557.png)

which is wrong. if you flip the order of the criteria you get a correct plot:

![image](https://user-ima

[2017-11-06 14:24] mwasiluk commented on #159
It looks like the implemented algorithm selects a wrong "recommended for default WTP"?

[2017-11-06 15:22] bkamins commented on #159
The top plot should be identical as the bottom plot - only reflected by x=y axis.
So on top plot 4 should be optimal and thick line should not cross shaded area (as it makes no sense) - it only should touch it.

[2017-11-06 15:23] bkamins commented on #159
it is acceptable that numbers of decisions are not consistent between plots (as it is now) as those numbers are only supporting information.

[2017-11-15 16:04] bkamins opened #160 "add description of folding to documentation"
a description of folding should be added to documentation on wiki

[2017-11-15 16:37] mwasiluk commented on #141
Mobile support is implemented using [Hammer.js](https://hammerjs.github.io/).

It works on my android phone.

For example:

Here is svg press and pinch support (disabling brush)
https://github.com/SilverDecisions/sd-tree-designer/blob/43eaeacb0cee413af546e811ebce51ca85b3b280/src/tree-designer.js#L280

Here is support for node press:
https://github.com/SilverDecisions/sd-tree-designer/blob/43eaeacb

[2017-11-15 16:42] #141 closed

[2017-11-15 16:42] mwasiluk commented on #141
I'm closing it for now, but please let us know if the problem persists.

[2017-11-16 21:55] bkamins commented on #158
OK

[2017-11-16 21:55] #158 closed

[2017-11-16 22:43] pszufe commented on #95
The project is now divided into 6 separate modules:
    sd-tree-designer - decision tree designer module, responsible for tree visualisation and construction
    sd-computations - module responsible for all more complex computations (e.g. objective rules, sensitivity analysis)
    sd-model - data model representation and simple operations on the decision tree model
    sd-expression-engine - expre

[2017-11-16 22:43] #95 closed

[2017-11-16 23:07] pszufe opened #161 "Tree Folding: As Decision Node/As Chance Node should be disabled for folded nodes"
Currently it is possible to click As Decision Node/As Chance Node when a node is in the folded state.
However, changing node type looses the "folded" state information - and hence new nodes can be added to the new node type (like the previously added nodes never existed). Folding and folding however makes the missing nodes to appear again.
I think that the simplest solution is to disable the As De

[2017-11-16 23:08] pszufe commented on #139
@mwasiluk  can you add a short information to the developer documentation on how to use regression testing with SD so we can close this issue?

[2017-11-16 23:11] pszufe commented on #142
@bkamins what is the status of this functionality? If the development has not started yet I suggest postponing it beyond the 1.0 version.

[2017-11-16 23:39] bkamins commented on #142
This is exactly what status `unscheduled` in Milestones means, see description of meaning of milestones in https://github.com/SilverDecisions/SilverDecisions/blob/master/README.md.

[2017-11-18 15:10] Bettinalexow opened #162 "enlarging"
I a missing the function to enlarge the picture of the tree. Numbers are really. Would be could such a function, (Bettina Lexow CEMBA Cohort XXIV)

[2017-11-18 15:21] arturkuter commented on #162
This can be solved by usuing a scroll + crl button just like zoom page

[2017-11-18 15:25] Bettinalexow commented on #162
I agree but I would only enlarge the tree not the whole page.would be good to have such a function.

[2017-11-18 16:09] mwasiluk commented on #162
There are already some options to enlarge some parts of the tree, e.g.:
1. font size: settings -> general -> font size
2. settings -> edge  -> stroke width
3. [node size in Layout](https://github.com/SilverDecisions/SilverDecisions/wiki/3.-Actions-supported-by-application#layout)

Settings are described here:
https://github.com/SilverDecisions/SilverDecisions/wiki/4.-Application-settings#settings-

[2017-11-18 16:45] bkamins commented on #162
@Bettinalexow I believe that we allow to change the size of all elements of the tree (see the comment of @mwasiluk). Please let me know if anything is missing and we can add it.

[2017-11-18 17:24] KrystianSnopko opened #163 "Mac user: not able to save file with Safari"
Dear Team,
When using Safari browser on Mac for silverdecisions.pl and trying to save the work done (a decision tree for example) the site gives an error showing the script code (attached:
<img width="457" alt="screen shot 2017-11-18 at 18 13 49" src="https://user-images.githubusercontent.com/33788315/32982965-2e28acf0-cc8d-11e7-84d7-0b3c0bf4ca29.png">
The result is that the work is gone and you n

[2017-11-18 18:45] pszufe commented on #163
Dear Krystian,
the code that you attached is SilverDecision's presentation of a saved file. If you save it to a *.json file you should be able to use the "Open an existing diagram" feature to load the model back to SilverDecisions.

[2017-11-18 19:12] bkamins commented on #163
@pszufe but maybe there is some bug on Safari (we know that Safari is problematic) leading to a dump of the savefile in the browser window.

@KrystianSnopko could you please post a screenshot of the error so that we can understand better what happens?

[2017-11-18 19:35] KrystianSnopko commented on #163
Hi there,
I have just updated to MacOS High Sierra and the issue disappeared - now I can save files through Safari.
So most probably it was a browser issue or maybe a not up to date mac version.
Thanks for your comments and help though
Best regards
Krystian

[2017-11-18 19:47] bkamins commented on #163
OK. Closing the issue then.

[2017-11-18 19:47] #163 closed

[2017-11-18 22:01] Bettinalexow commented on #162
I discovered using the tool the different possibilities of changing the size, but nevertheless would it be useful to have in the main window a zoom in/out button for the tree.

[2017-11-19 09:20] bkamins commented on #162
OK - thank you. We will try to work on it after release 1.0.

@mwasiluk - maybe the simplest solution would be if zoom in / zoom out buttons changed the options responsible for sizing (tree layout, font size, node size)? Would it work.

[2017-11-22 21:12] pszufe commented on #99
Tree folding on dev seems to work fine. Closing the issue.

[2017-11-22 21:12] #99 closed

[2017-11-22 21:12] pszufe commented on #161
Works correctly on dev.

[2017-11-22 21:12] #161 closed

[2017-11-26 21:13] pszufe commented on #160
added.

[2017-11-26 21:13] #160 closed

[2017-11-27 14:21] bkamins opened #164 "Document SD compatibility"
Before release 1.0 we should update the documentation with up to date information about SD compatibility (OS/browser).

[2017-11-30 00:10] pszufe commented on #164
done.

[2017-11-30 00:10] #164 closed

[2017-11-30 00:11] pszufe commented on #159
tested. done.

[2017-11-30 00:11] #159 closed

[2017-11-30 00:12] pszufe commented on #139
done and documented at the Developer's Guide:
https://github.com/SilverDecisions/SilverDecisions/wiki/Developer's-guide

[2017-11-30 00:12] #139 closed

[2017-11-30 00:13] pszufe commented on #124
done.

[2017-11-30 00:13] #124 closed

[2017-11-30 00:15] pszufe commented on #122
@bkamins The development documentation has been extended and now the software is divided into modules. I recommend closing this issue.

[2017-11-30 00:15] pszufe commented on #119
done

[2017-11-30 00:15] #119 closed

[2017-11-30 09:25] #122 closed

[2017-12-01 12:44] #157 closed

[2018-01-05 10:09] alex-webb opened #165 "Running in Chrome"
I'm having 2 console errors running file:///C:/git/silver/docs/SilverDecisions.html?lang=en in Chrome. I have cloned and run npm install and get these console errors (seems to work OK in IE):

[2018-01-05 10:18] mwasiluk commented on #165
Hi,

Error is caused by Web Worker, Chrome doesn't let you load web workers when running scripts from a local file.

https://stackoverflow.com/questions/21408510/chrome-cant-load-web-worker

[2018-01-05 11:29] alex-webb commented on #165
Thanks I'll use Firefox.  Also running gulp gives me the following error (all I've done on the repo is npm i):

[2018-01-12 15:45] bkamins opened #166 "Add beta distribution and enchance gamma"
1. Add beta distribution for random sampling
2. For Gamma distribution allow parameters gt 1.0

[2018-02-09 14:30] smoczek opened #167 "Add Universal Modelling Language view."
Taking Openscad language as an example ( https://openjscad.org/)
it would be nice to have this graph written
AND and a text version of this graph written in text language
based on Universal Modelling Language (UML)
for example similar to state diagram language
http://plantuml.com/state-diagram.

[2018-02-09 15:36] bkamins commented on #167
@pszufe @mwasiluk What do you think?

In my view it is a very nice idea of adding an additional view like this in the future if there is a use case for this.

If we wanted to go this way I assume that @smoczek would propose a specification of a desired mapping between native SilverDecisions format and UML format and our team could implement it.
@smoczek - would you be willing to do that if we deci

[2018-02-18 08:41] smoczek commented on #167
I think Activity Diagram is a UML format suitable.
I might not so easy to implement, so for start, maybe a just floatable window with .json with refresh button would be enough.
http://plantuml.com/activity-diagram-beta

[2018-04-13 10:19] bkamins opened #168 "SilverDecisions input lags on IE11"
IE hangs for a few seconds when processing keyboard input.
Possible that it appears only in large trees.

[2018-05-10 09:16] MarcinSGHVII opened #169 "Ustawienie marginesów"
Dzień Dobry
Mały drobny błąd graficzny w edycji drzewa decyzyjnego.
Podczas ustawiania marginesów do wydruku w pionie przesunięcie ich maksymalnie do góry powoduje ucięcie tekstu. Zmiana progu marginesów powinna pomóc.
![silverdecision_bug](https://user-images.githubusercontent.com/39153769/39862238-73d79368-5443-11e8-9fb3-e2692166dce5.png)

[2018-05-10 09:51] bkamins commented on #169
@mwasiluk could you please fix it?

[2018-05-18 07:39] SIADVII commented on #169
![silver](https://user-images.githubusercontent.com/39400062/40222157-e7c4430c-5a7e-11e8-9917-9734e96f999d.jpeg)

Byłoby też idealnie gdyby strzałki dopasowywały się długością do nazw, tak aby nazwa nie zachodziła na kolejną decyzje.

[2018-05-20 19:30] bkamins commented on #169
@mwasiluk What is a status of this issue?

[2018-11-27 17:21] mwasiluk opened #170 "Tree designer crashes after an 'Undo' right after switching to the 'Two criteria' mode"
Tree designer crashes after reverting to a state before switching to the 'Two criteria' mode.

    at e.payoffNumberFormatter

[2019-02-04 18:58] gcy001 opened #171 "dlugość nazwy zmiennej"
Brak ograniczenia co do długości nazwy zmiennej.
[1 brak ograniczenia dlugosci zmiennej.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829416/1.brak.ograniczenia.dlugosci.zmiennej.docx)

[2019-02-04 19:00] bkamins commented on #171
W jakich sytuacjach ten brak ograniczenia powoduje problem?

CC @mwasiluk

[2019-02-04 19:03] gcy001 opened #172 "ergonomia"
Ergonomia
[2 Ergonomia.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829433/2.Ergonomia.docx)
Na pasku narzędziowym brak ikonek dodawania węzłów decyzyjnych, losowych i tekstów (wszystko trzeba robić z rozwijanego menu)

[2019-02-04 19:09] gcy001 opened #173 "Maksymalny skos krawędzi jest już przy osiągnięciu ok 40% wartości na pasku"
[3 Maksymalny skos krawędzi jest już przy osiągnięciu ok 40% wartości na pasku.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829448/3.Maksymalny.skos.krawedzi.jest.juz.przy.osiagnieciu.ok.40.wartosci.na.pasku.docx)

[2019-02-04 19:21] gcy001 opened #174 "Przy ustawieniu minimalnej szerokości wartości prawdopodobieństwa zachodzą na węzły decyzyjne"
Przy ustawieniu minimalnej szerokości wartości prawdopodobieństwa zachodzą na węzły decyzyjne
[4 Przy ustawieniu minimalnej szerokości wartości prawdopodobieństwa zachodzą na węzły decyzyjne.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829487/4.Przy.ustawieniu.minimalnej.szerokosci.wartosci.prawdopodobienstwa.zachodza.na.wezly.decyzyjne.docx)

[2019-02-04 19:22] gcy001 opened #175 "Przy ustawieniu maksymalnego rozmiaru węzła i minimalnej wysokości, węzły decyzyjne zachodzą na siebie"
[5 Przy ustawieniu maksymalnego rozmiaru węzła i minimalnej wysokości, węzły decyzyjne zachodzą na siebie.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829498/5.Przy.ustawieniu.maksymalnego.rozmiaru.wezla.i.minimalnej.wysokosci.wezly.decyzyjne.zachodza.na.siebie.docx)

[2019-02-04 19:23] mwasiluk commented on #173
Większe wartości skosu mają zastosowanie np. w trybie manualnym.
![image](https://user-images.githubusercontent.com/1236142/52231639-c07daa80-28ba-11e9-98e2-603b48b4dab3.png)

[2019-02-04 19:23] gcy001 opened #176 "Literówka"
[6 Literówka.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829502/6.Literowka.docx)

[2019-02-04 19:24] gcy001 opened #177 "Brak odpowiedniego ograniczenia co do ilości znaków w polu "Tytuł"."

[2019-02-04 19:25] gcy001 opened #178 "Brak odpowiedniego ograniczenia co do ilości znaków w polu "Tytuł"."
[7 Brak odpowiedniego ograniczenia co do ilości znaków w polu Tytuł.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829507/7.Brak.odpowiedniego.ograniczenia.co.do.ilosci.znakow.w.polu.Tytul.docx)

[2019-02-04 19:25] gcy001 opened #179 "Brak odpowiedniego ograniczenia co do ilości znaków w polu "Opis""
[8 Brak odpowiedniego ograniczenia co do ilości znaków w polu Opis.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829512/8.Brak.odpowiedniego.ograniczenia.co.do.ilosci.znakow.w.polu.Opis.docx)

[2019-02-04 19:26] gcy001 opened #180 "Im więcej linii w opisie tym większy odstęp między opisem a diagramem"
[9 Im więcej linii w opisie tym większy odstęp między opisem a diagramem.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829515/9.Im.wiecej.linii.w.opisie.tym.wiekszy.odstep.miedzy.opisem.a.diagramem.docx)

[2019-02-04 19:27] gcy001 opened #181 "Możliwość wprowadzenia liter w pole Wypłata i Prawdopodobieństwo"

[2019-02-04 19:29] gcy001 opened #182 "Ustawienia > Tabela ligowa - Część tekstu zachodzi na paski kolorów"
[11 Część tekstu zachodzi na paski kolorów.docx](https://github.com/SilverDecisions/SilverDecisions/files/2829533/11.Czesc.tekstu.zachodzi.na.paski.kolorow.docx)

[2019-02-04 20:10] bkamins commented on #172
Bardzo proszę o opisanie jak taka funkcjonalność miałaby działać (żeby dodać węzeł trzeba go dodać do konkretnego obiektu, podobnie pole tekstowe trzeba dodać w konkretnym miejscu).

CC @mwasiluk

[2019-02-04 20:13] bkamins commented on #174
Tak się dzieje. Jaka jest tutaj oczekiwana funkcjonalność?

[2019-02-04 20:14] bkamins commented on #175
Podobne pytanie jak w #174 - jaka jest oczekiwana funkcjonalność. Pytam ponieważ użytkownik może zmienić te parametry, żeby na siebie nie zachodziły.

[2019-02-04 20:15] bkamins commented on #176
Dziękujemy.

[2019-02-04 20:16] bkamins commented on #177
Przydałaby się nam informacja jakie problemy to powoduje.

[2019-02-04 20:17] #177 closed

[2019-02-04 20:19] bkamins commented on #178
Ogólnie wszystkie uwagi związane z ograniczeniami związane są z takim problemem, że ktoś inny może sobie otworzyć ten sam diagram na innej rozdzielczości monitora + zmienić rozmiary tekstu itp. i u jednego użytkownika to się będzie mieściło a u innego nie. Stąd pojawia się to samo pytanie - co by było oczekiwane (wprowadzenie ograniczenia na sztywno też będzie problematyczne).

[2019-02-04 20:19] bkamins commented on #179
Ta sama uwaga co w #178.

[2019-02-04 20:20] bkamins commented on #180
@mwasiluk - da się coś z tym zrobić?

[2019-02-04 20:23] bkamins commented on #182
Dziękujemy.

[2019-02-04 21:52] kamilsabatowski opened #183 "Biały kontener, który pojawił się przy scrollowaniu"
![zrzut ekranu 2019-01-24 o 21 13 58](https://user-images.githubusercontent.com/25226087/52239615-2bd17780-28cf-11e9-940b-873e5b29911f.png)

W załączeniu screenshot, który pokazuje, że nie da się przewinąć (lub powiększyć białej przestrzeni pod drzewem decyzyjnym) - przewijanie spowodowało, że pojawił się biały kontener bez jakiejkolwiek treści (screen). Biały obszar poniżej części interfejsu z dr

[2019-02-04 21:55] kamilsabatowski opened #184 "New Feature Request: keyboard shortcuts enabled"
fajnie, gdyby można było korzystać ze skrótów klawiszowych np. delete, copy, paste, cut - wielokrotnie intuicyjnie chciałem skorzystać z takiej możliwości, ale nie dało się (Mac OS)

[2019-02-04 21:57] kamilsabatowski opened #185 "Brak możliwości zaznaczenia obszaru poniżej kursora"
![zrzut ekranu 2019-01-25 o 00 23 21](https://user-images.githubusercontent.com/25226087/52240008-13ae2800-28d0-11e9-83d9-d3b3f05c8da6.png)

screen pokazuje bład, gdzie nie mogłem zaznaczyć obszaru w dół. Pewnie ciężko będzie zreprodukować ten błąd, ale podsyłam, bo czasem może wystąpić u użytkowników.

[2019-02-04 21:58] kamilsabatowski opened #186 "Brak certyfikatu SSL"
Jak w nazwie wątku

[2019-02-04 22:01] mwasiluk commented on #183
Czy występuje to tylko przy otwartym menu kontekstowym?

[2019-02-04 22:10] mwasiluk commented on #184
https://github.com/SilverDecisions/SilverDecisions/wiki/3.-Actions-supported-by-application

Keyboard shortcuts:
Del: delete selected nodes
Ctrl-C/X: copy/cut selected nodes
Ctrl-V: paste copied nodes as a subtree of a selected node
Ctrl-Y/Z: undo/redo
Ctrl-Alt-D/C/T: add new Decision/Chance/Terminal subnode of a selected node
**On OSx, Ctrl should be used as well (and not Cmd).**

[2019-02-04 22:47] bkamins commented on #184
Czy o to chodziło?

[2019-02-04 22:50] bkamins commented on #186
@pszufe może powinniśmy dodać?

[2019-02-04 23:17] kamilsabatowski commented on #185
<img width="1440" alt="zrzut ekranu 2019-02-5 o 00 14 16" src="https://user-images.githubusercontent.com/25226087/52243805-18c4a480-28db-11e9-96e1-445490fdc175.png">

Właśnie zreplikowałem ten błąd pracując nad case study na zajęcia. Zaznaczyłem obszar (uwzględniający trujkąty i kwadraty) i chciałem jeszcze zaznaczyć (w tym samym zaznaczeniu) węzły poniżej, ale już nie mogłem.

Tak jakby przegląda

[2019-02-04 23:17] kamilsabatowski commented on #183
Nie, kilkukrotnie wystąpiło to w różnych przypadkach - raz z oknem kontekstowym, raz przy próbie zejścia poniżej drzewa.

[2019-02-04 23:19] kamilsabatowski commented on #184
tak, dokładnie - ale nie działa właśnie na OSx Mojave 10.14. Próbnowałem oczywiście zarówno z cmd jak i ctrl.

[2019-02-04 23:20] bkamins commented on #183
@michaljakubczyk - możesz proszę sprawdzić czy możesz to zreplicować na macOS?

[2019-02-04 23:21] bkamins commented on #184
@michaljakubczyk - to też możesz pls. sprawdzić na macOS?

[2019-02-04 23:42] pszufe commented on #185
@mwasiluk może byłoby bezpiecznie dołożyć na stałe biały pasek od dołu? Wtedy co prawda zawsze pokazywałby się pionowowy scrollbar, ale można uniknąć sytuacji tego typu (pewnie zawsze od czasu do czasu jakaś przeglądarka poda złą wysokość canvasa).

[2019-02-06 06:07] michaljakubczyk commented on #183
Udaje mi się jedynie przy otwartym menu kontekstowym. Po zamknięciu tego menu ta biała przestrzeń znika.

[2019-02-06 06:14] michaljakubczyk commented on #184
u mnie działają poniższe:
Del (fn-backspace): delete selected nodes
Ctrl-C/X: copy/cut selected nodes
Ctrl-V: paste copied nodes as a subtree of a selected node
Ctrl-Y/Z: undo/redo
Ctrl-Alt-D/C/T: add new Decision/Chance/Terminal subnode of a selected node

Natomiast przy kopiowaniu i wklejaniu jest czasem problem, jeśli zrobi się to zbyt szybko (tzn. zaznaczam węzeł, szybko wciskam Ctrl-C, zaznac

[2019-02-09 16:30] kamilsabatowski opened #187 "System niedostępny"
próbuję zuploadować jakikolwiek projekt w .json - dostaję okno dialogowe z pytaniem, czy napewno chcę bo wszystkie niezapisane drzewa zostaną utracone. Klikam, że tak po czym nic się nie dzieje. Wygląda to tak, jakby aplikacja nie była dostępna - lub przynajmniej opcja otwierania/otwierania dotychczasowo zapisanych plików.

[2019-02-09 16:57] pszufe commented on #187
Powinien sie pojawic ekran wyboru pliku. Byc moze jest on zablokowany w Pana przegladarce. Nie napisal Pan na jakiej platformie i przegladarce Pan pracuje.

[2019-02-10 10:51] gcy001 commented on #172
Np. szybki pasek z podstawowymi obiektami i usuń umożliwiał by szybszą
budowę drzewa, po kliknięciu jednokrotnym w dany obiekt, a następnie z
paska kolejne automatycznie go podpina.

pon., 4 lut 2019 o 21:10 Bogumił Kamiński <notifications@github.com>
napisał(a):

[2019-02-10 10:56] gcy001 commented on #171
Nie powinna co do natury występować taka sytuacja, aby nie istniał brak
ograniczenia, to powinno być pole do definicji, a nie opisów.

pon., 4 lut 2019 o 20:00 Bogumił Kamiński <notifications@github.com>
napisał(a):

[2019-02-10 10:57] gcy001 commented on #173
Parametry suwaka "skos krawędzi" powinny być zależne od ustawienia
parametrów suwaka "Szerokość" tak aby w zależności od ustawienia suwak
przesunięty od minimum do maksimum powodował zmiany.

pon., 4 lut 2019 o 20:23 Michał <notifications@github.com> napisał(a):

[2019-02-10 10:57] gcy001 commented on #174
Ogólnie rzecz biorąc po co użytkownikowi ustawienia, które zaburzają
czytelność wykonanego diagramu. Parametry powinny być tak dopasowane aby
przy takim czy innym ustawieniu nie było takiej sytuacji w której elementy
na siebie nachodzą.

pon., 4 lut 2019 o 21:13 Bogumił Kamiński <notifications@github.com>
napisał(a):

[2019-02-10 10:59] gcy001 commented on #175
Ogólnie rzecz biorąc po co użytkownikowi ustawienia, które zaburzają
czytelność wykonanego diagramu. Parametry powinny być tak dopasowane aby
przy takim czy innym ustawieniu nie było takiej sytuacji w której elementy
na siebie nachodzą.

pon., 4 lut 2019 o 21:14 Bogumił Kamiński <notifications@github.com>
napisał(a):

[2019-02-10 11:04] gcy001 commented on #178
Nie powinna co do natury występować taka sytuacja, aby nie istniał brak
ograniczenia.

pon., 4 lut 2019 o 21:19 Bogumił Kamiński <notifications@github.com>
napisał(a):

[2019-02-10 11:04] gcy001 commented on #179
Nie powinna co do natury występować taka sytuacja, aby nie istniał brak
ograniczenia.

pon., 4 lut 2019 o 21:19 Bogumił Kamiński <notifications@github.com>
napisał(a):

[2019-02-10 11:11] bkamins commented on #172
do czego miałoby następować podpięcie?

[2019-02-10 11:49] gcy001 commented on #172
pod ten pierwszy oznaczy obiekt/element

niedz., 10 lut 2019 o 12:11 Bogumił Kamiński <notifications@github.com>
napisał(a):

[2019-02-10 11:58] bkamins commented on #172
Czyli proponowany workflow jest taki?

1. LMB na obiekcie do którego chcemy coś dodać
2. w toolbar się pojawia dodatkowa lista co można dodać

Czemu to jest lepsze od:
1. RMB na obiekcie do którego chcemy coś dodać
2. z listy rozwijanej wybieramy co chcemy dodać

[2019-02-10 12:12] gcy001 commented on #172
more user friendly, "dyskusyjne", ale tak działają dzisiaj narzędzia BI i
menadżerskie, tj. prostsze...

niedz., 10 lut 2019 o 12:58 Bogumił Kamiński <notifications@github.com>
napisał(a):

[2019-02-10 12:14] gcy001 commented on #181
Ok, ale można by się było przyczepić, że co w przypadku gdy dana zmienna
nie została nigdy zadeklarowana przez twórcę bo program mógłby jakoś
sygnalizować że taka zmienna
nie istnieje a brak takiej sygnalizacji może doprowadzić do błędnych
obliczeń lub np komunikat - "nieprawidłowa deklaracje zmiennych" albo
"użyto niezadeklarowanych zmiennych".

pon., 4 lut 2019 o 21:22 Bogumił Kamiński <notifica

[2019-04-07 11:54] KAHAWR opened #188 "funkcjonalność"
warto byłoby, aby przy podawaniu prawdopodobieństw program honorował zarówno kropki jak i przecinki:

0.1
0,1

[2019-04-07 13:21] bkamins commented on #188
Nie damy rady tego zaimplementować, ponieważ standardowo w językach programowania `.` oznacza miejsce dziesiętne. Możemy to zmieniać jedynie w warstwie prezentacji

[2019-04-07 13:21] #188 closed

[2019-05-16 23:32] andersonad opened #189 "Presence of a function in any variable field breaks sensitivity analysis"
If there is a function (e.g. f() = 1) in any variable field in any node or globally, sensitivity analysis cannot complete.

Here is an example json displaying the issue using Ron Howard's Canonical party problem with Kim and a specified u-curve.

[decisiontree@2019.05.16_17.51.00.zip](https://github.com/SilverDecisions/SilverDecisions/files/3189343/decisiontree%402019.05.16_17.51.00.zip)

[2019-05-16 23:40] andersonad opened #190 "Allow a function to be applied to the aggregation of payoff results"
At the moment after specifying monetary payoffs throughout a decision tree, it is not possible to apply a transformation of the aggregated terminal values before maximization, nor to apply a transformation to the payoff function.

Since it is a common practice in decision analysis to encode a person's risk preferences by mapping monetary outcomes to preference probabilities and vice-versa, it woul

[2019-05-17 08:25] bkamins commented on #190
@michaljakubczyk - could you please have a look a it on a design level so that we can have a proper specification (or a recommendation how to do it currently). Thank you.

[2019-05-17 08:25] bkamins commented on #189
@mwasiluk can you please investigate into it?

[2019-06-07 06:53] michaljakubczyk commented on #190
I agree it would be very useful, and I currently have to use some work-arounds for teaching. When you want to show how decision trees can be used while accounting for risk aversion (represented by a concave utility function) you need to assign all the pay-offs (transformed with the utility function) to the very last edge. This is for example done in the attached figure: the upper tree contains mon

[2020-02-12 22:05] andersonad commented on #189
Can confirm this fixes the issue for me in build.

[2020-02-12 22:14] andersonad commented on #190
Can confirm the new feature is working in dev build and addresses the underlying problem according to the test outlined above.

[2020-02-12 22:36] andersonad opened #191 "Display a functional transformation of payoff results at nodes"
Oftentimes it is useful when communicating to stakeholders under risk preference to show them the cash-equivalent of their alternatives based on their particular utility curves. Would it be possible to add an option that would change the display value of nodes based on a function? Example image below of what this might look like using the example from issue #190.

![display-transformation-example]

[2020-02-13 20:20] andersonad commented on #191
Also as a note I'm looking to build experience working on web applications so if you can point me where in the code base I would look in order to implement this kind of change I can give it a shot and try to put together a pull request.

If it's just easier for you to handle it or you disagree with the feature then I'll leave it at that.

[2020-02-13 20:22] bkamins commented on #191
@mwasiluk - do you think, given the changes you are working on, it is OK for @andersonad to try making the changes (I would assume that this will not be simple, but maybe @andersonad would want to try it just to get some practice).

[2020-02-28 18:09] bkamins opened #192 "Bug in sensitivity analysis"
In the attached tree:

[decisiontree@2020.02.28_11.07.40.txt](https://github.com/SilverDecisions/SilverDecisions/files/4268408/decisiontree%402020.02.28_11.07.40.txt)

make a sensitivity analysis for variable fT_C in range from 0 to 1 with 11 steps.
You will notice that the payoff for this option stays constant (while actually it changes if you vary this parameter for policy :Tx)

[2020-04-20 18:11] xelcho opened #193 "Request for clarification"
I am looking for clarification on a bit of the 2-C functionality of SD, namely:
- multi-criteria: decision tree example
- multi-criteria: a bit more on the trade-off coefficient/default 1st criterion weight
- multi-criteria: definition of Weight lower & upper bounds

Thank you!

[2020-04-20 19:38] pszufe commented on #193
We have been using MC decision trees to explain pubic decision. On one hand one wants to minimize costs but on the other hand one wants to maximize the social impact. If you combine it with uncertainty, you can use the decision tree to identify the Pareto frontier. That is why by default we have two criteria names: C for "cost" and E for "effect".

[2020-04-20 19:59] pszufe commented on #193
The criterion weight is needed to convert a two criteria model into a single criteria problem (that is both criteria are added but the first one is weighted). In result a single decision (path in the tree) can be marked as "optimal". Please have also look at the description at https://github.com/SilverDecisions/SilverDecisions/wiki/8.-Multiple-criteria-decision-analysis

[2020-04-20 20:21] xelcho commented on #193
@pszufe Thank you very much!

Do you have a json file of the MC trees you mention above that you can share? I would like to learn and experiment with it.

[2020-04-20 21:49] bkamins commented on #193
Here you have a sample tree. I have made it to also answer your third question (it is the allowed range of trade-off between 1st and 2nd criterion). You can see its effect when you click "Show league table" button.

[decisiontree@2020.04.20_23.48.09.txt](https://github.com/SilverDecisions/SilverDecisions/files/4506375/decisiontree%402020.04.20_23.48.09.txt)

[2020-04-21 14:01] xelcho commented on #193
@bkamins Thank you for putting this together for me. It goes a long way toward explaining it. I see now how it controls the slope of the CE plot. I have more questions and will get back to you.

[2020-08-20 09:54] eloriche opened #194 "Merge Nodes"
May I know if there is a possibility of merging several edges to one output.

[2020-08-20 09:59] bkamins commented on #194
No - it is currently not possible.

[2020-12-03 09:07] anglosachsen opened #195 "Editing a large decision tree is very slow in chrome"
I am working on a large decision tree in Chrome on my Win 10 Pro Desktop PC (AMD Ryzen 7 3700X 8-Core, 4.20GHz, 16,0GB RAM, 64 Bit) and after every few edits I have to save, close and reopen to be able to work because it is otherwise too slow. How can I improve performance so that I can work on my decision tree?

[2020-12-03 09:19] bkamins commented on #195
@mwasiluk - do you have any tips on this? Thank you!

[2020-12-03 16:33] mwasiluk commented on #195
@anglosachsen You can try disabling animations in settings:
![image](https://user-images.githubusercontent.com/1236142/101058483-77b5dc00-358d-11eb-8fa0-3fbfc71df432.png)

[2020-12-04 10:36] anglosachsen commented on #195
Thanks for the advice! I disabled the animations and fold all subtrees I'm not working on and it works now pretty fast.

I have a few ideas for improvements but they are probably better in another thread, right?

E.g. I started by folding the subtrees at the deepest level and worked my way back to the highest level but when I click on the plus icon to open a subtree, it opens all levels rather tha

[2021-03-23 18:02] Mediator53 opened #196 "Problems generating PDF"
When I attempt to generate a PDF of the tree I'm working on I get an error message. Has this function been disabled or am I doing something wrong?

[2021-03-23 18:40] bkamins commented on #196
Indeed export server seems to be down. @mwasiluk - could you please have a look at this. Thank you!

[2021-03-23 19:02] mwasiluk commented on #196
There seems to be a problem with highcharts export server:
https://www.highcharts.com/forum/viewtopic.php?f=9&t=46068

[2021-04-16 14:51] shahrukhjethr opened #197 "Not able to generate build"
Hello Their, I've setup project based on the given instruction, but not able to generate build via gulp command , i'm getting below error :
Chrome 89.0.4389 (Linux 0.0.0) JSON file probabilityinchancenode_fail.json should load with computation/validation errors FAILED
TypeError: SilverDecisions.App is not a constructor

Thanks